{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
{% blocktrans %}Studierende Kontaktieren{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <p>
        {% blocktrans %}Du möchtest eine Email an {{n}} Studiererende schicken.{% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}Damit wir Eure Anzeigen hochladen können, und ihr auch so kontaktiert werden könnt, gebt eure Anprechpartner und
        Infos an!{% endblocktrans %}
    </p>
</div>
<div class="container">
    <div class="card border-primary">
        <div class="card-header">
            {% blocktrans %}Registrierung{% endblocktrans %}
        </div>
        <div class="card-body">
            <form action="/iamstudent/send_mail_student/{{ids}}" method="post">
                {% csrf_token %}
                {% crispy form form.helper %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
