{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Vielen Dank{% endblocktrans %}
{% endblock %}


{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<br>
<br>
<div class="container">
    {% blocktrans %}Vielen Dank für deine Registrierung. Wir kontaktieren dich, sobald eine medizinische Einrichtung deine Hilfe benötigt.{% endblocktrans %}
</div>
<br>
<br>

{% endblock %}
