{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Vielen Dank{% endblocktrans %}
{% endblock %}


{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<br>
<br>
<div class="container">
    {% blocktrans %}<h2>Lieber Helfer, Liebe Helferin,</h2>
    <p>vielen Dank, dass du dich engagieren möchtest. Um deine Registrierung zu vervollständigen, haben wir dir eine Mail mit einem Bestätigungslink an deine angegebene Mailadresse geschickt. Bitte schau in deine Mails, um dich vollständig bei uns zu registrieren und vermittelt werden zu können.</p>
    <p>Dein Team von</p>
    <p>match4healthcare</p>
    {% endblocktrans %}
</div>
<br>
<br>

{% endblock %}
