{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Helfende wurden Kontaktiert
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<hr>
<div class="container">
    <hr>
    <p>{% if not_registered %}
    {% blocktrans %} Wir speichern deine E-Mails und senden sie sobald wir dich als Krankenhaus validiert sind {%  endblocktrans %}
    {% else %}
    {% blocktrans %} Die Helfer*innen wurden kontaktiert. {% endblocktrans %}
    {% endif %}
<a href="/{{ LANGUAGE_CODE }}/mapview"> {% blocktrans %}Finde weitere Helfer*innen {% endblocktrans %}</a>
</p>
<hr>
</div>

{% endblock %}
