{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Helfende in der Nähe von {{ort}} ({{plz}}){% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style type="text/css">
    .card {
        margin-bottom: 30px;
    }
</style>
<script type="text/javascript">

    var signUpHelper = {
        handleQualificationInput: function handleQualificationInput(event) {
            let sourceElement = event.srcElement;
            let qualificationSelected = event.srcElement.checked;

            // Extract qualification Id from parent div with suitable class, name ausbildung-checkbox-<id>
            let qualificationId = event.srcElement.closest("div.ausbildung-checkbox").id.split("-").slice(-1)
            this.setQualificationSectionVisibility(qualificationId, qualificationSelected)
        },
        setQualificationSectionVisibility: function setQualificationSectionVisibility(id, setVisibility) {
            let section = document.getElementById(`div-ausbildung-${id}`)
            if (!section) return;
            if (setVisibility) {
                section.classList.remove('hidden')
            } else {
                section.classList.add('hidden');
                section.querySelectorAll("input[type='checkbox']").forEach((checkbox) => {
                    checkbox.checked = false
                })
                section.querySelectorAll("input[type='text'], select").forEach((textbox) => {
                    textbox.value = ''
                })
            }

        },
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        let qualifikationSelectors = document.querySelectorAll("div.ausbildung-checkbox input")
        qualifikationSelectors.forEach(element => {
            element.addEventListener("input", (event) => {
                signUpHelper.handleQualificationInput(event)
            })

            // To handle Mozillas brilliant idea to keep state of checkboxes on refresh, trigger dummy handler for every checkbox
            signUpHelper.handleQualificationInput({srcElement: element});
        })

    });

</script>
{% endblock %}

{% load crispy_forms_tags %}

{% load render_table from django_tables2 %}


{% block content %}

<div class="container">
    <div style="height:40px"></div>
    <h1 class="font-weight-light match4hc-title"> {% blocktrans %}Breits registrierte Helfer durchsuchen und
        kontaktieren.{% endblocktrans %} </h1>
    <h2 class="font-weight-light match4hc-title">{% blocktrans %}Brauchen Sie zum Beispiel examinierte Pflegekräfte?{% endblocktrans %}</h2>
    <p> Dann müssen Sie unter "Ausbildungen" auswählen, dass ein Helfer eine Pflegeausbildung haben <mark>muss</mark>,
        indem Sie auf das Feld klicken.
        In dem geöffneten Feld können Sie nun auswählen, dass die Pflegekraft schon
        <mark>berufstätig</mark>
        sein muss.
        Sie können außerdem eine Unterkunft anbieten? Super! Dann klickt weiter unten auf
        <mark>ja</mark>.
        Nun einfach auf den "Filter Aktualisieren" klicken und Sie können euch die Kandidaten in der Tabelle ansehen und
        ihnen eine
        <mark>Email senden</mark>
    </p>

    <form method="get">
        <div class="card" style="margin-top:30px;">
            <div class="card-header">
                {% blocktrans %}Helfer finden{% endblocktrans %}
            </div>
            <div class="card-body">
                <h5> {% blocktrans %}An welchem Ort und in welchem Abstand suchen Sie Helfer*innen?{% endblocktrans %}</h5>

                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <p> Land: </p>
                            <select name="countrycode" class="form-control" id="countrycode">
                                <option {% if countrycode == 'DE' %}selected="selected"{% endif %} value="DE">Deutschland</option>
                                <option {% if countrycode == 'AT' %}selected="selected"{% endif %} value="AT">Österreich</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <p> Postleitzahl: </p>
                            <input name="plz" id="plz" value="{{ plz }}" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <p> Und im Umkreis von (km): </p>
                            <input name="distance" id="umkreis" value="{{ distance }}" class="form-control">
                        </div>
                    </div>
                </div>
                <hr>
                <h5>
                    {% blocktrans %}Welche Ausbildung(en) muss ein Helfer alles haben? Für mehrere zu besetzende Stellen
                    müssen Sie einzelne Anfragen stellen.{% endblocktrans %}</h5>
                {% crispy filter.form filter.form_helper %}

                <hr>
                <p>
                    <input type="submit" class="btn blue text-white btn-md" value="Filter Aktualisieren">
                </p>
                <!--{% if filter_is_being_saved %}
                <p>
                    {% blocktrans %}Speichere den Filter als:{% endblocktrans %} <mark>{{filter_name}}</mark>.
                     <input type="hidden" name="uuid" value="{{uuid}}">
                </p>

                {% else %}
                <p>
                    <input type="checkbox" name="saveFilter" value="true">{% blocktrans %}Filter Speichern als:{% endblocktrans %}
                    <input type="text" name="filterName">
                </p>
                {% endif %}
								-->

            </div>
        </div>
    </form>
    <div class="card border-danger">
        <div class="card-header">
            <p>
                {% if enable_mail %}
                {% blocktrans %}Wir haben <b>{{n}} Helfer*innen</b> gefunden, die zu Ihrer Suche passen.{% endblocktrans%}
                <button class="btn blue text-white btn-md" style="display:block; margin-top:10px;" onclick="sendall()">
                    {% blocktrans %}Email an alle {{n}} Helfer*innen senden{% endblocktrans %} &raquo;
                </button>
                {% else %}
             <button class="btn blue text-white btn-md" style="display:block; margin-top:10px;"
                        onclick="alertMaxMails()">
                 {% blocktrans %}Email an alle {{n}} Helfer*innen senden{% endblocktrans %} </button>
                <div class="alert alert-warning" role="alert">{% blocktrans %} Du hast mehr Helfer ausgewählt, als du heute noch E-Mails senden darfst ({{ max }} Stück).
            <br>Du kannst deine Suche durch den Filter stärker eingrenzen oder in der Liste gezielt Helfer auswählen,
            <br><br>Wenn du doch einen guten Grund hast, mehr E-Mails zu verschicken, dann
                <a href="mailto:support@match4healthcare.de?subject=[E-Mail%20Tagesrate%20erhoehen]%20Fuer%20{{email}}">
                    benachrichtige uns
                </a> und wir setzen deine Rate hoch.{% endblocktrans %}
                </div>
                {% endif %}
            </p>
        </div>
        <div class="card-body">
            <p>{% blocktrans %}Klicke auf die Tabellenzeilen, um bestimmte Helfer*innen auszuwählen, die du kontaktieren
                möchtest.{% endblocktrans %}</p>
            <div class="table-responsive">
                {% render_table table %}
            </div>
            <p class="text-right">

                <button class="btn blue text-white btn-md" value="{{max}}" onclick="send($(this))">
                    {% blocktrans %}Email an AUSGEWÄHLTE Helfer*innen schicken{% endblocktrans %} &raquo;
                </button>
            </p>

        </div>

    </div>
</div>

<script>
    var alertMaxMails = function () {
        alert("{% blocktrans %}Die Anzahl E-Mails, die Sie heute senden dürfen, ist erreicht. Grenze Sie bitte Ihre Suche ein. Melde Sie sich bei support@match4healthcare.de falls Sie noch mehr senden möchten.{% endblocktrans %}")
 };

    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    })

    var trBoldBlue = $("table");

    $(trBoldBlue).on("click", "tr", function () {
        $(this).toggleClass("selected");
        $(this).toggleClass("table-primary");

    });

    var send = function (x) {
        var li = [];
        $('tbody tr.selected').each(function () {
            li.push($(this)[0].getAttribute("data-id"))
        });
        if (li.length > 0) {
            if(li.length <= x[0].value){
                window.location = ("/iamstudent/send_mail_student/" + li.join("_"));
            } else {
              alert("{% blocktrans %}Die E-Mails, die du heute senden darfst sind verbraucht. Grenze deine Suche ein. Melde dich bei support@match4healthcare.de falls du mehr senden möchtest.{% endblocktrans %}")
            }

        } else {
            alert("{% blocktrans %}Bitte wählen Sie mindestens einen Helfenden zum Kontaktieren aus!{% endblocktrans %}")
        }
    };

    var sendall = function () {
        var li = [];
        $('tbody tr').each(function () {
            li.push($(this)[0].getAttribute("data-id"))
        });
        if (li.length > 0) {
            window.location = ("/iamstudent/send_mail_student/" + li.join("_"));
        } else {
            alert("{% blocktrans %}Leider gibt es keine Helfer*innen, die zu Ihrem Filter passen. Bitte wählen Sie weniger Kriterien aus um passende Helfer*innen zu finden.{% endblocktrans %}")
        }
    };

    var getrequest = function () {
        //console.log($('#plz').attr("value"));
        window.location = "/ineedstudent/students/" + $('#countrycode').val() + "/" + $('#plz').val() + "/" + Math.max(0, $('#umkreis').val());
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#id_availability_start").attr("type", "date");
    });
</script>
{% endblock %}
