{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Helfende in der Nähe von {{ort}} ({{plz}}){% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<script type="text/javascript">

    var signUpHelper = {
        handleQualificationInput: function handleQualificationInput(event) {
            let sourceElement = event.srcElement;
            let containingDiv = sourceElement.closest("div.ausbildung-checkbox")
            let qualificationId = containingDiv.id.split("-").slice(-1)
            let selectedFilterValue = sourceElement.querySelector("input").value
            let buttonXStatus = false;
            if (selectedFilterValue === "true") {
                buttonXStatus = true;
            }

            this.setQualificationSectionVisibility(qualificationId, buttonXStatus)
        },
        setQualificationSectionVisibility: function setQualificationSectionVisibility(id, setVisibility) {
            let section = document.getElementById(`div-ausbildung-${id}`)
            if (!section) return;
            if (setVisibility) {
                section.classList.remove('hidden')
            } else {
                section.classList.add('hidden');
                section.querySelectorAll("input[type='checkbox']").forEach((checkbox) => {
                    checkbox.checked = false
                })
                section.querySelectorAll("input[type='text'], select").forEach((textbox) => {
                    textbox.value = ''
                })
            }

        },
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        let qualifikationSelectors = document.querySelectorAll("div.ausbildung-checkbox label.btn")
        qualifikationSelectors.forEach(element => {
            element.addEventListener("click", (event) => {
                signUpHelper.handleQualificationInput(event)
            })

        })

    });

</script>
{% endblock %}

{% load crispy_forms_tags %}

{% load render_table from django_tables2 %}


{% block content %}
<hr>
<div class="container">

    <form method="get">
        <div class="card">
            <div class="card-header">
                {% blocktrans %}An welchem Ort und in Welchem Abstand sucht Ihr Helfer*innen?{% endblocktrans %}
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <p> Land: </p>
                            <select name="countrycode" class="form-control" id="countrycode">
                                <option {% if countrycode == 'DE' %}selected="selected"{% endif %} value="DE">Deutschland</option>
                                <option {% if countrycode == 'AT' %}selected="selected"{% endif %} value="AT">Österreich</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <p> Postleitzahl: </p>
                            <input name="plz" id="plz" value="{{ plz }}" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <p> Und im Umkreis von (km): </p>
                            <input name="distance" id="umkreis" value="{{ distance }}" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                {% blocktrans %}Was für eine Ausbildung sollen die Helfer*innen haben?{% endblocktrans %}
            </div>
            <div class="card-body">

                {% crispy filter_jobrequireform filter_jobrequireform.helper %}

            </div>
        </div>
        <div class="card">
            <div class="card-header">
                {% blocktrans %}Ab wann sollen die Helfer*innen verfügbar sein?{% endblocktrans %}
            </div>
            <div class="card-body">

                {{ filter_availability.form.as_p }}

            </div>

        </div>
        <input type="submit"/>
    </form>

    <hr>
    <div class="card">
        <div class="card-header">
            <h4>{% blocktrans %}Wir haben <mark>{{n}} Helfer*innen</mark> gefunden, die zu deiner Suche passen.{% endblocktrans %}</h4>
        </div>
        <div class="card-body">
            <p>{% blocktrans %}Klicke auf die Tabellenzeilen, um Helfer auszuwählen, die du kontaktieren möchtest.{% endblocktrans %}</p>
            <div class="table-responsive">
            {% render_table table %}
            </div>
            {% if enable_mail %}
            <button class="btn blue text-white btn-lg" onclick="sendall()">
                {% blocktrans %}Email an {{n}} Helfer*innen schicken{% endblocktrans %} &raquo;
            </button>
            <button class="btn blue text-white btn-lg" onclick="send()">
                {% blocktrans %}Email an <mark>ausgewählte</mark>> Helfer*innen schicken{% endblocktrans %} &raquo;
            </button>
            {% else %}
            <button class="btn blue text-white btn-lg" onclick="alertMaxMails()">
                {% blocktrans %}Email an {{n}} Helfer*innen schicken{% endblocktrans %} &raquo;
            </button>
            <button class="btn blue text-white btn-lg" onclick="alertMaxMails()">
                {% blocktrans %}Email an <mark>ausgewählte</mark>> Helfer*innen schicken{% endblocktrans %} &raquo;
            </button>
            {% endif %}

        </div>

    </div>
</div>
<hr>
<script>
    var alertMaxMails = function () {
        alert('Zu viele Emails auf einmal. Wähle maximal {{ max }} Helfer*innen aus, indem du weitere Filter auswählst.');
    };

    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    })

    var trBoldBlue = $("table");

    $(trBoldBlue).on("click", "tr", function () {
        $(this).toggleClass("selected");
        $(this).toggleClass("table-primary");

    });

    var send = function () {
        var li = [];
        $('tbody tr.selected').each(function () {
            li.push($(this)[0].getAttribute("data-id"))
        });
        if (li.length > 0) {
            window.location = ("/iamstudent/send_mail_student/" + li.join("_"));
        } else {
            alert("{% blocktrans %}Bitte wählen wie mindestens einen Helfenden zum Kontaktieren aus!{% endblocktrans %}")
        }
    };

    var sendall = function () {
        var li = [];
        $('tbody tr').each(function () {
            li.push($(this)[0].getAttribute("data-id"))
        });
        if (li.length > 0) {
            window.location = ("/iamstudent/send_mail_student/" + li.join("_"));
        } else {
            alert("{% blocktrans %}Leider gibt es keine Helfer*innen, die zu deinem Filter passen. Bitte gibt weniger Kriterien an um passende Helfer*innen zu finden.{% endblocktrans %}")
        }
    };

    var getrequest = function () {
        //console.log($('#plz').attr("value"));
        window.location = "/ineedstudent/students/" + $('#countrycode').val() + "/" + $('#plz').val() + "/" + Math.max(0, $('#umkreis').val());
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#id_availability_start").attr("type", "date");
    });
</script>
{% endblock %}
