{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Registrierung - Studierende
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <hr>
</div>
<div class="container">
    {% blocktrans %} schon registriert? Hier geht es zum {% endblocktrans %}
        <a class="btn btn-primary" href="#" role="button">Login</a>
    <hr>
    <div class="card border-primary">

        <div class="card-header">
          {% blocktrans %}  Registrierung - Hilfesuchende {% endblocktrans %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-12">

                    <form method="post" action="signup_hospital">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">

                        {% crispy form_info form_info.helper %}
                        <p>Vergebe ein Passwort für deine Anmeldung</p>
                        {{ form_signup|crispy }}

                        <button type="submit" class="btn btn-success">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endblock %}
