{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Registrierung - Studierende
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <br>
    <br>
    <h1> {% blocktrans %}Liebe Studierende und Helfende,{% endblocktrans %} </h1>
    <br>
    <p>{% blocktrans %}Dieses Projekt hat zum Ziel, euch in eurer Umgebung mit Krankenhäusern, Hausärzten und Gesundheitsämtern in Verbindung zu bringen, sollten diese nach Unterstützung suchen. Hierfür bitten wir euch, die folgenden Daten anzugeben, damit wir euch mit den entsprechenden Gesuchen verbinden können.{% endblocktrans %} </p>
    <br>
   
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            {% blocktrans %}Registrierung - Studierende & Helfer{% endblocktrans %}
        </div>
        <div class="card-body">
            <form action="signup_student" method="post">
                {% csrf_token %}
                {{form_mail}}
                {% crispy form form.helper %}
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
    $("#id_availability_start").attr("type", "date");
});
</script>

{% endblock %}
