{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Registrierung - Studierende
{% endblock %}

{% block header %}
<script type="text/javascript">

    var signUpHelper = {
        handleQualificationInput : function handleQualificationInput(event) {
            let sourceElement = event.srcElement;
            let qualificationSelected = event.srcElement.checked;
            
            // Extract qualification Id from parent div with suitable class, name ausbildung-checkbox-<id>
            let qualificationId = event.srcElement.closest("div.ausbildung-checkbox").id.split("-").slice(-1)
            this.setQualificationSectionVisibility(qualificationId, qualificationSelected)
        },
        setQualificationSectionVisibility : function setQualificationSectionVisibility(id, setVisibility) {
            let section = document.getElementById(`div-ausbildung-${id}`)
            if (!section) return;
            if (setVisibility) {
                section.classList.remove('hidden')
            } else {
                section.classList.add('hidden');
                section.querySelectorAll("input[type='checkbox']").forEach( (checkbox) => { checkbox.checked = false })
                section.querySelectorAll("input[type='text'], select").forEach( (textbox) => { textbox.value = '' })
            }
            
        },
    }

    document.addEventListener("DOMContentLoaded", function(event) {
        let qualifikationSelectors = document.querySelectorAll("div.ausbildung-checkbox input")
        qualifikationSelectors.forEach(element => {
            element.addEventListener("input", (event) => { signUpHelper.handleQualificationInput(event) })

            // To handle Mozillas brilliant idea to keep state of checkboxes on refresh, trigger dummy handler for every checkbox
            signUpHelper.handleQualificationInput({ srcElement: element });
        })
            
    });

</script>
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <br>
    <br>
    <h1> {% blocktrans %}Liebe Studierende und Helfende,{% endblocktrans %} </h1>
    <br>
    <p>{% blocktrans %}Dieses Projekt hat zum Ziel, euch in eurer Umgebung mit Krankenhäusern, Hausärzten und Gesundheitsämtern in Verbindung zu bringen, sollten diese nach Unterstützung suchen. Hierfür bitten wir euch, die folgenden Daten anzugeben, damit wir euch mit den entsprechenden Gesuchen verbinden können.{% endblocktrans %} </p>
    <br>
    <h2>Disclaimer</h2>
    <br>
    <p>{% blocktrans %}Zuvor möchten wir euch zu eurer und der allgemeinen Sicherheit über einige Punkte aufklären:{% endblocktrans %}</p>

    <p>{% blocktrans %}1. Vergewissert euch, bevor ihr euch für eine Tätigkeit verpflichtet, welche <mark>Haftpflichrichtlinien</mark> für euch gelten werden.{% endblocktrans %} </p>

    <p>{% blocktrans %}2. Bitte bedenkt, dass Vollzeitstudierende nicht gleichzeitig eine Vollzeitstelle belegen dürfen. Überlegt euch demnach gut, <mark>in welchem Ausmaß ihr euch für Hilfe bereiterklären könnt</mark>. Falls ihr eine Vollzeitarbeit über diesen Weg aufnehmen wollt, müsst ihr häufig ein Urlaubssemester einlegen.{% endblocktrans %}  </p>

    <p>{% blocktrans %}3. Bitte bedenkt zuvor, dass ihr bei jeglichen Tätigkeiten in Kontakt mit anderen Menschen kommt und damit eine erhöhte Ansteckungs- und Infektionsgefahr einhergeht. Solltet ihr selbst <mark>positiv auf nCOV-19 getestet worden sein oder Symptome zeigen</mark> (Husten, Fieber, Abgeschlagenheit) oder sogar zur Risikogruppe gehören, dann ist aufgrund der Infektionsgefahr davon abzusehen sich im Gesundheitswesen zu betätigen, um das Risiko der Übertragung zu verringern.{% endblocktrans %}</p>
</div>
<div class="container">
    <div class="card border-primary">
        <div class="card-header">
            {% blocktrans %}Registrierung - Studierende & Helfer{% endblocktrans %}
        </div>
        <div class="card-body">
            <form action="signup_student" method="post">
                {% csrf_token %}
                {{form_mail}}
                {% crispy form form.helper %}
            </form>
        </div>
    </div>
</div>
<hr>
<script type="text/javascript">
$( document ).ready(function() {
    $("#id_availability_start").attr("type", "date");
});
</script>
{% endblock %}
