{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}
{% blocktrans %}Karte der Hilfsbereiten{% endblocktrans %}
{% endblock %}

{% block header %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'map' %}
<script type="text/javascript">

  document.addEventListener("DOMContentLoaded", function domReady() {
    let mapViewPage = new MapViewPage({
      mapViewContainerId: 'mapContainer',
      facilitiesURL     : "{% url 'facilitiesJSON' %}",
      supportersURL     : "{% url 'supportersJSON' %}",
      supporterListURL  : "{% url 'list_by_plz' 'COUNTRYCODE' 'PLZ' 0 %}",
      hospitalListURL   : "{% url 'hospital_list' 'COUNTRYCODE' 'PLZ' %}",
      mapboxToken       : '{{ mapbox_token }}',
      createPopupTextStudent  :  (countrycode,city, plz, count, url) => `{% blocktrans %}In ${city}, (PLZ ${plz}) gibt es ${count} Helfer*innen.\n<a href="${url}" target="_blank">Detailansicht für Kliniken</a>{% endblocktrans %}`,
      createPopupTextHospital :  (countrycode,city, plz, count, url) => `{% blocktrans %}In ${city}, (PLZ ${plz}) gibt es ${count} Orte an denen Hilfe gebraucht wird.\n<a href="${url}" target="_blank">Detailansicht</a>{% endblocktrans %}`,
      createFacilitiesCountText: (count) => `<img src="{% static 'img/map/facility-marker.svg' %}"> ${count} {% trans "Einrichtungen" %}`,
      createSupportersCountText: (count) => `<img src="{% static 'img/map/supporter-marker.svg' %}"> ${count} {% trans "Helfende" %}`,
      facilityIcon: L.icon({
        iconUrl: "{% static 'img/map/facility-marker.svg' %}",
        iconSize: [40, 40],
      }),
    })
  
    mapViewPage.initializeMap()
    mapViewPage.loadMapMarkers()
    mapViewPage.registerEventHandlers(window)

  })
</script>


{% endblock %}

{% block content %}
  {% if user.is_authenticated and user.is_hospital %}
<nav class="navbar navbar-expand-sm navbar-dark bg-light search-map" id="hospital_navbar">
  <div class="container">
    <div class="order-0">
      <select name="countrycode" id="countrycode" class="map-dropdown">
        <option value="DE">{% blocktrans %}Deutschland{% endblocktrans %}</option>
        <option value="AT">{% blocktrans %}Österreich{% endblocktrans %}</option>
      </select>
      <input type="text" id="search" class="form textinput textInput map-input" placeholder="Postleitzahl">
      <button class="btn btn-primary btn blue text-white btn-md" role="button" onclick="gototable()">{% blocktrans %}Direktsuche{% endblocktrans %} &raquo;</button>
    </div>
  </div>
</nav>
{% endif %}


<div id="mapContainer" style="z-index:1;">
	 <a href="http://mapbox.com/about/maps" class="mapbox-wordmark" target="_blank">Mapbox</a>
</div>

<script type="text/javascript">
  var gototable = function() {
      if ($('#search').val()) {
        window.location = "/ineedstudent/students/" + $('#countrycode').val() + "/" + $('#search').val() + "/0"
      }
    };
  $("#search").keyup(function(event) {
      if (event.keyCode === 13) {
          gototable();
      }
  });
</script>
{% endblock %}
