{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Verwalte Hilfesuchende (Admin){% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% load render_table from django_tables2 %}


{% block content %}
<hr>
<div class="container">
    <p>
        Profil:
        <a role="button" class="btn btn-primary" href="logout">{% blocktrans %}Abmelden{% endblocktrans %}</a>
        <a role="button" class="btn btn-primary" href="/accounts/password_change">{% blocktrans %}Kennwort ändern{% endblocktrans %}</a>
        <!-- In case the staff should be able to delete themselves:
        <a role="button" class="btn btn-secondary" href="delete_me">delete my profile</a>
        -->
    </p>
    <p></p>
    <hr>
    <p>
    {% blocktrans %}
    <h1>Liebes Staff-Mitglied,</h1></p>
    <p>Hier kannst du Krankenhäuser, die sich angemeldet haben,
        <mark>die Berechtigung geben, Studierende anzusehen und zu kontaktieren</mark>
        wenn alles gut aussieht, auf der ersten Tabelle. Wenn sie Mist machen, kannst du ihnen in der zweiten Tabelle
        die
        <mark>Berechtigung wieder entziehen</mark>
        .
    </p>
    {% endblocktrans %}

    <hr>
    <div class="card border-info">
        <div class="card-header">
            {% blocktrans %}Diese Krankenhäuser warten auf deine Genehmigung{% endblocktrans %}
        </div>
        <div class="card-body">
            {% render_table table_unapproved %}
        </div>
    </div>
    <hr>
    <div class="card ">
        <div class="card-header">
            {% blocktrans %}Diese Krankenhäuser wurden schon genehmigt, du kannst ihnen aber jederzeit die Berechtigung
            entziehen. {% endblocktrans %}
        </div>
        <div class="card-body">
            {% render_table table_approved %}
        </div>
    </div>

</div>
<hr>
{% endblock %}
