{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Datenbankstatistiken{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}


{% block content %}
<hr>

<div class="container" style="margin-bottom:30px;">

    <table class="table">
        <thead>
    <tr>
      <th scope="col">Stat</th>
      <th scope="col">#</th>
    </tr>
  </thead>
        {% for stat in count_statistics %}
        <tr>
            <td>{{ stat.0 }}</td>
            <td>{{ stat.1 }}</td>
        </tr>
        {% endfor %}
    </table>
    {% for g in graphs %}
    <div class="card">
        <div class="card-body">
            {{ g.1 | safe}}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
