{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Account Gelöscht
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style type="text/css">
    .bg-container {
        background-image: url({% static 'img/login-bg.jpg' %});
        background-position: center;
        background-size: cover;
    }
	@media only screen and (max-width: 767px) {
	.bg-container {background-image:none; background-color: #dfe3e4;}
	}

</style>
<script type="text/javascript">
    window.addEventListener('load', function() {
        $(window).on("resize", function() {

            var height = $(window).height();
            var navHeight = $('.navbar').outerHeight();
            var footerHeight = $('.footer').innerHeight();

            var newHeight = height - navHeight - footerHeight;

            $(".login-form").height(newHeight);

        }).trigger("resize");

    });
</script>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="bg-container">
<div class="container login-form">
 <div class="col-lg-6 col-md-10 col-sm-12 col-12" >
  <div class="card login-card text-center align-items-center">
      <h4>{% blocktrans %} Dein Account wurde gelöscht. {% endblocktrans %}</h4>


    </div>
	</div>
  </div>
</div>
{% endblock %}
