{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}
Profil - Institution
{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <br>
    <br>
    {% if messages %}


    {% for message in messages %}
    <div class="alert {{ message.tags }} fade show alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}

    {% endif %}

	<h1 class="font-weight-light match4hc-title">{% blocktrans %}Ihre Daten{% endblocktrans %}</h1>
		<h2 class="font-weight-light match4hc-title">{% blocktrans %}Aktualisieren Sie jederzeit Ihre Kontaktinfos.{% endblocktrans %}</h2>

    <br>

        <div class="card" style="margin-bottom:35px;">
            <div class="card-header">
                {% blocktrans %}Profil Details{% endblocktrans %}
            </div>
            <div class="card-body">

                    <a role="button" class="btn blue text-white btn-md" href="logout">{% blocktrans %}Abmelden{% endblocktrans %}</a>
                    <a role="button" class="btn blue text-white btn-md" href="/accounts/password_change">{% blocktrans %}Passwort ändern{% endblocktrans %}</a>
                    <a role="button" class="btn btn-info" href="delete_me_ask">{% blocktrans %}Mein Profil löschen{% endblocktrans %}</a>

            </div>
        </div>

        <div class="card">
            <div class="card-header">
                {% blocktrans %}Informationen über Ihre Institution{% endblocktrans %}
            </div>
            <div class="card-body">
                <form action="profile_hospital" method="post">
                    {% csrf_token %}
                    {% crispy form form.helper %}
                </form>
            </div>
        </div>
</div>
<br>
    {% endblock %}
