{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}
Registrierung - Studierende
{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <br>
    <br>
    {% if messages %}


    {% for message in messages %}
    <div class="alert {{ message.tags }} fade show alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}

    {% endif %}
   


    <div class="container">
		
		<h1 class="font-weight-light match4hc-title">{% blocktrans %}Mein Profil{% endblocktrans %}</h1>
		<h2 class="font-weight-light match4hc-title">{% blocktrans %}Aktualisiere hier jederzeit deine Angaben.{% endblocktrans %}</h2>
		<br>
        <div class="card" style="margin-bottom:35px;">
            <div class="card-header">
                {% blocktrans %}Account Details{% endblocktrans %}
            </div>
            <div class="card-body">
                <p>
                    <a role="button" class="btn blue text-white btn-md" href="logout">{% blocktrans %}Logout{% endblocktrans %}</a>
                    <a role="button" class="btn blue text-white btn-md" href="password_change">{% blocktrans %}Passwort ändern{% endblocktrans %}</a>
                    <a role="button" class="btn btn-info" href="delete_me">{% blocktrans %}Mein Profil löschen{% endblocktrans %}</a>
                </p>
                <form action="profile_student" method="post">
                    {% csrf_token %}
                    {{emailform|crispy}}
                    <button type="submit" class="btn btn-info">{% blocktrans %}E-Mail Adresse aktualisieren{% endblocktrans %}</button>
                </form>
            </div>
        </div>
      
        <div class="card">
            <div class="card-header">
                {% blocktrans %}Informationen über dich{% endblocktrans %}
            </div>
            <div class="card-body" style="margin-bottom: 1rem;">
                <form action="profile_student" method="post">
                    {% csrf_token %}
                    {% crispy form form.helper %}
                </form>
            </div>
        </div>
    </div>
 <br>
    {% endblock %}
