{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}
Profil - Institution
{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block content %}


<div class="container">
    <br>
    <br>
    {% if messages %}


    {% for message in messages %}
    <div class="alert {{ message.tags }} fade show alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}

    {% endif %}

	<h1 class="font-weight-light match4hc-title">{% blocktrans %}Anzeige erstellen und ändern{% endblocktrans %}</h1>
    <h2 class="font-weight-light match4hc-title">{% blocktrans %}Bblibla{% endblocktrans %}</h2>

    <br>

        <div class="card" style="margin-bottom:35px;">
            <div class="card-body">
                <mark>Ein Erklärungstext</mark>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
        </div>
    <div class="card">
        <div class="card-header">
            {% blocktrans %}Aktuelle Anzeige{% endblocktrans %}
        </div>
        <div class="card-body">
            <div class="card-body">
                <form action="change_posting" method="post">
                    {% crispy anzeige_form anzeige_form.helper %}
                </form>
            </div>
        </div>
    </div>
</div>
<br>
    {% endblock %}
