Registrierung - Studierende
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

<hr>
<div class="container">

<p> {% blocktrans %}Hast Du dein Kennwort vergessen? Gib deine e-Mail Adresse unten ein und wir senden dir ein Neues zu.{% endblocktrans %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% blocktrans %}e-Mail Adresse{% endblocktrans %}</label>
        {{ form.email }}
    </div>
    <input type="submit" value="{% blocktrans %}Passwort zurücksetzen{% endblocktrans %}">
</fieldset>
</form>


</div>
{% endblock %}
