{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Registrierung - Studierende
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

<hr>
<div class="container">


<p>{% blocktrans %}Wenn es zu der e-Mail Adresse einene Account gibt, haben wir Dir Anweisungen zum Setzen eines neuen Passworts gesendet. Sie sollten in Kürze eintreffen.{% endblocktrans %} </p>

<p>{% blocktrans %}Wenn Du kein e-Mail erhälst, prüfe bitte die eingegebene e-Mail Adresse und schau in Deinen Spam-Ordner. {% endblocktrans %} </p>

</div>
{% endblock %}
