{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Registrierung - Studierende
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="card">

    {% if validlink %}

    <div class="col-lg-4 col-md-6 col-sm-8 col-12">
      <h2>{% blocktrans %}Neues Passwort{% endblocktrans %}</h2>

      <form method="post">{% csrf_token %}
      <fieldset class="module aligned">
          <div class="form-row field-password1">
              {{ form.new_password1.errors }}
              {{ form.new_password1|as_crispy_field }}
          </div>
          <div class="form-row field-password2">
              {{ form.new_password2.errors }}
              {{ form.new_password2|as_crispy_field }}
          </div>
          <div class="submit-row">
              <input type="submit" value="{% blocktrans %}Passwort Setzen{% endblocktrans %}" class="btn btn-primary">
          </div>
        </fieldset>
      </form>
    </div>
    {% else %}

    <p>{% blocktrans %} Der Link zum zurücksetzen des Passworts ist nicht gültig. Eventuell wurde er bereits benutzt. {% endblocktrans %}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
