{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Registrierung - Studierende
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}



{% block content %}
<div class="container">


      {% if form.errors %}
          <p class="errornote">
          {% if form.errors.items|length == 1 %}{% blocktrans %} Please correct the error below. {% endblocktrans %}{% else %}{% blocktrans %} "Please correct the errors below. {% endblocktrans %}{% endif %}
          </p>
      {% endif %}
      <div class="card">
        <div class="col-lg-4 col-md-6 col-sm-8 col-12">
          <h2>{% blocktrans %}Passwort Ändern{% endblocktrans %}</h2>
          <form method="post">{% csrf_token %}

          <!--<fieldset class="module aligned wide">-->
          <div class="form-row">
              {{ form.old_password.errors }}
              {{ form.old_password|as_crispy_field }}
          </div>

          <div class="form-row">
              {{ form.new_password1.errors }}
              {{ form.new_password1|as_crispy_field }}
          </div>

          <div class="form-row">
            {{ form.new_password2.errors }}
            {{ form.new_password2|as_crispy_field }}
          </div>
          <!--</fieldset>-->

          <div class="submit-row">
              <input type="submit" value="{% blocktrans %}Change my password {% endblocktrans %}" class="btn btn-primary">
          </div>
        </form>

        </div>
      </div>
  </div>
{% endblock %}
