{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Passwort ändern{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style type="text/css">
    .bg-container {
        background-image: url({% static 'img/login-bg.jpg' %});
        background-position: center;
        background-size: cover;
    }
	@media only screen and (max-width: 767px) {
	.bg-container {background-position: left;}
	}
	
</style>
<script type="text/javascript">
    window.addEventListener('load', function() {
        $(window).on("resize", function() {

            var height = $(window).height();
            var navHeight = $('.navbar').outerHeight();
            var footerHeight = $('.footer').innerHeight();

            var newHeight = height - navHeight - footerHeight;

            $(".login-form").height(newHeight);

        }).trigger("resize");

    });
</script>
{% endblock %}

{% load crispy_forms_tags %}



{% block content %}
<div class="bg-container">
<div class="container login-form">

      {% if form.errors %}
          <p class="errornote">
          {% if form.errors.items|length == 1 %}
            {% blocktrans %}Bitte beheben Sie den unten angezeigten Fehler{% endblocktrans %}
          {% else %}
            {% blocktrans %}Bitte beben Sie die unten angezeigten Fehler{% endblocktrans %}
          {% endif %}
          </p>
      {% endif %}
	<div class="col-lg-6 col-md-10 col-sm-12 col-12">
      <div class="card login-card">

          <h1 class="font-weight-light">{% blocktrans %}Passwort ändern{% endblocktrans %}</h1>
          <form method="post">{% csrf_token %}

          <!--<fieldset class="module aligned wide">-->

              {{ form.old_password.errors }}
              {{ form.old_password|as_crispy_field }}



              {{ form.new_password1.errors }}
              {{ form.new_password1|as_crispy_field }}



            {{ form.new_password2.errors }}
            {{ form.new_password2|as_crispy_field }}

          <!--</fieldset>-->

          <div class="submit-row">
              <input type="submit" value="{% blocktrans %}Passwort ändern{% endblocktrans %}" class="btn blue text-white btn-md" style="margin-top:15px;">
          </div>
        </form>
        </div>
	</div></div>
  </div>
{% endblock %}
