{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Registrierung - Studierende
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container login-form">
  

    {% if validlink %}

    <div class="col-lg-6 col-md-10 col-sm-12 col-12" style="margin: 0 auto;">
		<div class="card login-card">
      <h2>{% blocktrans %}Neues Passwort{% endblocktrans %}</h2>

      <form method="post">{% csrf_token %}
      <fieldset class="module aligned">
          <div class="field-password1">
              {{ form.new_password1.errors }}
              {{ form.new_password1|as_crispy_field }}
          </div>
          <div class="field-password2">
              {{ form.new_password2.errors }}
              {{ form.new_password2|as_crispy_field }}
          </div>
          <div class="submit-row">
              <input type="submit" value="{% blocktrans %}Passwort Setzen{% endblocktrans %}" class="btn blue text-white btn-md">
          </div>
        </fieldset>
      </form>
    </div>
    {% else %}

    <p>{% blocktrans %} Der Link zum setzen des Passworts ist nicht gültig. Eventuell wurde er bereits benutzt. {% endblocktrans %}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
