{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Passwort setzen{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}



{% load crispy_forms_tags %}

{% block content %}
<hr>
<div class="container">
  <p>{% blocktrans %}Wir haben Ihnen eine E-Mail gesendet mit einem Link um ihr Kennwort zurückzusetzen, wenn ein Account mit dieser E-Mail-Adresse existiert.{% endblocktrans %} </p>
  <p>{% blocktrans %}Wenn Sie keine E-Mail erhalten, überprüfen Sie bitte die eingegebene Adresse und Ihren Spam-Ordner.{% endblocktrans %} </p>
</div>
{% endblock %}
