{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Passwort Vergessen?{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style type="text/css">
    .bg-container {
        background-image: url({% static 'img/login-bg.jpg' %});
        background-position: center;
        background-size: cover;
    }
	@media only screen and (max-width: 767px) {
.bg-container {background-image:none; background-color: #dfe3e4;}
	}

</style>
<script type="text/javascript">
    window.addEventListener('load', function() {
        $(window).on("resize", function() {

            var height = $(window).height();
            var navHeight = $('.navbar').outerHeight();
            var footerHeight = $('.footer').innerHeight();

            var newHeight = height - navHeight - footerHeight;

            $(".login-form").height(newHeight);

        }).trigger("resize");

    });
</script>
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="bg-container">
<div class="container login-form">

   <div class="col-lg-6 col-md-10 col-sm-12 col-12">
    <div class="card login-card">

    <h2> {% blocktrans %}Passwort vergessen?{% endblocktrans %}</h2>
    <p> {% blocktrans %}Bitte gib hier deine E-Mail-Addresse an und du erhältst einen Link an die angegebene E-Mail Adresse, um ein neues Passwort zu erstellen.{% endblocktrans %}</p>
    <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="field-email">
            {{ form.email.errors }}
            {{ form.email|as_crispy_field }}
        </div>
        <input type="submit" class="btn blue text-white btn-md" value="{% blocktrans %}Passwort zurücksetzen {% endblocktrans %}">
    </fieldset>
    </form>
  </div>
	</div></div>
</div>
{% endblock %}
