{% load i18n %}

<!DOCTYPE html>
<html>
<body>
<h2>{% blocktrans %}Sehr geehrte Einrichtung,{% endblocktrans %}</h2>
<p>{% blocktrans %}Vielen Dank für Ihren Eintrag auf match4healthcare!{% endblocktrans %}</p>
<p>{% blocktrans %}Bitte bestätigen Sie jetzt Ihre Registrierung, indem Sie auf den folgenden Link klicken:{% endblocktrans %}</p>

{% block reset_link %}
<b><a href ="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Validiere meine Email!</a></b>
{% endblock %}

{% blocktrans %}
<p>Wir hoffen sehr, dass Sie schnell und direkt die Hilfe finden, die Sie suchen. Hier haben wir Ihnen einige wichtige Informationen zusammengetragen. Dies soll Ihnen eine Hilfe sein, jedoch gewährleisten wir keinen Anspruch auf Vollständigkeit:</p>
<ul>
  <li>Nachdem Ihre Registrierung abgeschlossen ist, gelangen Sie nun auf der Plattform in die Datenbank. Dort können nach den von Ihnen gewünschten Kriterien (Ausbildungsstand etc.) Helfende suchen, filtern und diesen auf unserer Plattform direkt eine E-Mail verfassen. Der Emailversand erfolgt dann nach einer Validierung durch uns.</li>
  <li>Wenn Sie Helfende nicht mehr benötigen, bitte geben Sie diesen Bescheid, damit diese Ihren Status bei uns anpassen können und für andere Einrichtungen zur Verfügung stehen. </li>
  <li>Wir haben die Studierenden über Ihre Arbeitsrechte und Ausbildungsvertrag informiert. Bitte sorgen Sie sich um Rechtssicherheit und Versicherungsschutz der Helfenden. Ebenfalls muss geeignete Schutzausrüstung zur Verfügung gestellt und hygienische Standards eingehalten werden.</li>
  <li>Bitte überprüfen Sie vor Ort die Kompetenzen und ggf. erforderlichen formalen Qualifikationen der Helfenden. Besprechen Sie welche Befugnisse die Helfenden bei Ihnen haben und welche nicht. Sie sind für ihren Einsatz verantwortlich.</li>
  <li>Manche unserer Helfenden würden gerne an einem ferneren Einsatzort helfen, jedoch benötigen Sie dafür eine Unterkunft. Falls Sie diese unkompliziert anbieten können, so würden sich unsere Studierenden über die Unterstützung diesbezüglich sehr freuen. </li>
</ul>
<p>In jedem Fall ein großes Dankeschön für das große Engagement Ihrer Einrichtung in der aktuellen Lage. Wir hoffen, mit dieser Plattform einen kleinen Beitrag für die aktuelle Gesundheitsversorgung geleistet zu haben.
Für Anregungen zu unserer Plattform und bei weiteren Fragen kontaktieren Sie uns gerne unter info@match4healthcare.de.</p>
<p>Ihr Team von match4healthcare</p>
{% endblocktrans %}
</body>
</html>
