{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}
Neues Passwort
{% endblocktrans %}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style type="text/css">
    .bg-container {
        background-image: url({% static 'img/login-bg.jpg' %});
        background-position: center;
        background-size: cover;
    }
	@media only screen and (max-width: 767px) {
	.bg-container {background-position: left; background-image:none; background-color:#bdcbcc;}
	}
	
</style>
<script type="text/javascript">
    window.addEventListener('load', function() {
        $(window).on("resize", function() {

            var height = $(window).height();
            var navHeight = $('.navbar').outerHeight();
            var footerHeight = $('.footer').innerHeight();

            var newHeight = height - navHeight - footerHeight;

            $(".login-form").height(newHeight);

        }).trigger("resize");

    });
</script>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="bg-container">
<div class="container login-form">


    {% if validlink %}

    <div class="col-lg-6 col-md-10 col-sm-12 col-12">
		<div class="card login-card">
      <h2>{% blocktrans %}Neues Passwort{% endblocktrans %}</h2>

      <form method="post">{% csrf_token %}
      <fieldset class="module aligned">
          <div class="field-password1">
              {{ form.new_password1.errors }}
              {{ form.new_password1|as_crispy_field }}
          </div>
          <div class="field-password2">
              {{ form.new_password2.errors }}
              {{ form.new_password2|as_crispy_field }}
          </div>
          <div class="submit-row">
              <input type="submit" value="{% blocktrans %}Passwort Setzen{% endblocktrans %}" class="btn blue text-white btn-md" style="margin-top:15px;">
          </div>
        </fieldset>
      </form>
    </div>
    {% else %}

    <p>{% blocktrans %} Der Link zum setzen des Passworts ist nicht gültig. Eventuell wurde er bereits benutzt. {% endblocktrans %}</p>
    {% endif %}
  </div>
	</div></div>

{% endblock %}
