{% load i18n %}

<!DOCTYPE html>
<html>
<body>
<h2>{% blocktrans %}Lieber Helfende_r,{% endblocktrans %}</h2>
<p>{% blocktrans %}Vielen Dank für deine Anmeldung auf match4healthcare! Gemeinsam sind wir ein unschlagbares Team!{% endblocktrans %}</p>
<p>{% blocktrans %}Wir hoffen sehr, dass wir dir bald zu einem Platz verhelfen können.{% endblocktrans %}</p>
<br>

<p>{% blocktrans %}Bitte validiere jetzt deine Registrierung, indem du auf den folgenden Link klickst:{% endblocktrans %}</p>
<br>

{% block reset_link %}
<b><a href ="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Validiere meine Email!</a></b>
{% endblock %}

<br>

{% blocktrans %}
<p>Hier einige wichtige Informationen zum allgemeinen Ablauf für dich:</p>
<ul>
  <li>Im Falle eines Matches werden Gesundheitsinstitutionen dich kontaktieren und sich über Einzelheiten mit dir abstimmen. Die Kontaktaufnahme erfolgt außerhalb unserer Plattform.</li>
  <li>Wenn du dich bereits in einer andere Liste, z.b. der Unikliniken oder medizinischen Fakultäten eingetragen hast, denk daran, dass du Bescheid gibst, falls du über unsere Plattform einen Match erhältst und keine weiteren Kapazitäten mehr hast. Genauso andersherum, falls du über diese lokalen Wege helfen kannst, entferne deinen Eintrag bei uns. Wir wollen, dass für niemanden Verwirrung und doppelter Aufwand entsteht, sondern einzig und allein, dass du einen Ort zum Helfen findest, egal über welchen Weg.</li>
  <li>Wir informieren die Institutionen, dass Sie sich um einen Arbeitsvertrag sowie hygienische Standards und eine Einarbeitung kümmern sollten. Bitte achte darauf, dass du dich versichern lässt. Für weiteres haben wir eine umfangreiche Sammlung an Tipps und Infos zu Vertrag, Vergütung und Recht zusammengestellt: <a href="https://match4healthcare.de/legal-questions/">https://match4healthcare.de/legal-questions/</a></li>
  <li>Sollte eine Institution Falschangaben gemacht haben oder sich nicht an die Grundbedingungen zu Ausrüstung/Versicherung halten, dann bitte informiere uns bitte über die u.g. E-Mail Adresse.</li>
  <li>Wenn du Fragen zu lokalen Gegebenheiten oder Studienbedingungen hast, melde dich bei deiner lokalen Fachschaft Medizin oder lokalen Ärztekammer. Wir stellen dir hier nur Infos zusammen, aber können dir keine Fragen zu den genauen Bedingungen deines Einsatzes vor Ort beantworten, und für etwaige Probleme keine Haftung übernehmen.</li>
  <li>Wenn du aufgrund deines Gesundheitszustands unsicher bist, ob du helfen darfst, hilft dir diese App weiter: <a href="https://covapp.charite.de/">https://covapp.charite.de/</a></li>
</ul>
<p>In jedem Fall ein großes Dankeschön für deine Unterstützung des Gesundheitswesens in der aktuellen Lage. Wir hoffen, mit dieser Plattform einen kleinen Beitrag zum Wohle der Gesellschaft geleistet zu haben.<br>
Wenn du Ideen und Anregungen zur Weiterentwicklung der Plattform hast oder weitere Fragen hast wende dich gerne an <a href="mailto:info@match4healthcare.de">info@match4healthcare.de</a><br>
Dein match4healthcare Team
</p>
{% endblocktrans %}
</body>
</html>
