{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Registrierung - Studierende
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}



{% block content %}

<div class="container login-form">

      {% if form.errors %}
          <p class="errornote">
          {% if form.errors.items|length == 1 %}{% blocktrans %} Please correct the error below. {% endblocktrans %}{% else %}{% blocktrans %} "Please correct the errors below. {% endblocktrans %}{% endif %}
          </p>
      {% endif %}
	<div class="col-lg-6 col-md-10 col-sm-12 col-12" style="margin: 0 auto;">
      <div class="card login-card">
       
          <h1 class="font-weight-light">{% blocktrans %}Passwort Ändern{% endblocktrans %}</h1>
          <form method="post">{% csrf_token %}

          <!--<fieldset class="module aligned wide">-->
        
              {{ form.old_password.errors }}
              {{ form.old_password|as_crispy_field }}
          

       
              {{ form.new_password1.errors }}
              {{ form.new_password1|as_crispy_field }}
        

          
            {{ form.new_password2.errors }}
            {{ form.new_password2|as_crispy_field }}
         
          <!--</fieldset>-->

          <div class="submit-row">
              <input type="submit" value="{% blocktrans %}Passwort Ändern{% endblocktrans %}" class="btn blue text-white btn-md">
          </div>
        </form>
        </div>
      </div>
  </div>
{% endblock %}
