{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<hr>
<div class="container login-form">
 
   <div class="col-lg-6 col-md-10 col-sm-12 col-12" style="margin: 0 auto;">
    <div class="card login-card">
		
    <h2> {% blocktrans %}Passort vergessen?{% endblocktrans %}</h2>
    <p> {% blocktrans %}Gib deine Email-Addresse an und du erhältst ein neues Passwort{% endblocktrans %}</p>
    <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="field-email">
            {{ form.email.errors }}
            {{ form.email|as_crispy_field }}
        </div>
        <input type="submit" class="btn blue text-white btn-md" value="{% blocktrans %}Passwort zurücksetzen {% endblocktrans %}">
    </fieldset>
    </form>
  </div>
</div>
</div>
{% endblock %}
