{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Registrierung - Studierende
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">

<p>{% blocktrans %} Ihr Passwort wurde gesetzt. Sie können sich jetzt einloggen {% endblocktrans %}</p>
<a href="{{ login_url }}"><button type="submit" class="btn btn-secondary">Log in</button></a>

</div>
{% endblock %}
