{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Datenschutzerklärung
{% endblock %}

{% block header %}
<script type="text/javascript">
    function decode(a) {
        return a.replace(/[a-zA-Z]/g, function (c) {
            return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13)
                ? c : c - 26);
        })
    };
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div style="height:40px"></div>
    <div class="impressum">
        <h1>Datenschutzerklärung</h1>
        <div class="row">
            <div class="col-md-4 m-1 p-3">
                <h5>Wer wir sind / Kontakt­information</h5>
                <strong>Initiative match4healthcare</strong>
               <br>
                Tel.: +49 7121 360 5434 <br>
                E-Mail: <script type="text/javascript">document.write(decode("vasb@zrqvf-if-pbivq19.qr"))</script><br><br>
                Kontaktperson für Datenschutz ist Amandeep Grewal, Burgstraße 33, Reutlingen, Deutschland.<br><br>
                <h5>Impressum</h5>
                <p>Unser Impressum finden Sie <a href="/{{ LANGUAGE_CODE }}/impressum">hier</a>.</p>
            </div>
            <div class="col-md-6 m-1 p-3">
                <h5>Datenschutz</h5>
                <p>Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
                Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies stets auf freiwilliger Basis.
                Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
                Für die Nutzung dieses Dienstes gilt folgendes:
                Zweck der Datenerhebung ist die Bereitstellung von Daten und Vernetzung von freiwilligen Hilfeleistungswilligen und Institutionen, die entsprechender Hilfe bedürfen.
                    <br>

                <h5>Welche Daten zu welchem Zweck</h5>
                <p>Helfende geben bei der Anmeldung auf der Plattform persönliche Daten an. Dabei werden der Vor- und Nachname, Wohnort, die E-Mail-Adresse und die Telefonnummer gespeichert. Zusätzlich geben die Helfenden an, welche Vorerfahrungen sie haben, in welchem Studienabschnitt sie sich befinden, ob eine Vergütung benötigt wird, wie viele Wochenarbeitsstunden sie arbeiten wollen, was ihr bevorzugter Einsatzort ist und ob an dem Einsatzort eine Unterkunft benötigt wird .
                    Sich anmeldende Einrichtungen geben den Namen der Einrichtung, den Namen der Ansprechperson, der Standort der Einrichtung. E-Mail-Adresse und Telefonnummer an. Diese werden ebenfalls gespeichert.
                    Zweck der Speicherung der Daten ist die Sicherstellung von Informationsbereitstellung von Helfenden an suchende Einrichtungen. Um den Kontakt herzustellen, erhalten die Einrichtungen Zugriff auf die Daten der Helfenden, hierbei werden jedoch keine Namen oder E-Mail Adressen ausgewiesen. Der E-Mail Kontakt von den Einrichtungen an die Helfenden verläuft zunächst über uns.
                </p>

                <h5>Welche Dauer</h5>
                <p>Speicherdauer ist die Dauer der Datenbereitstellung in der Plattform. Sollte eine Seite keinen Bedarf mehr an unserer Datenbereitstellung haben, werden die Daten gelöscht. Die genaue Dauer ist zum heutigen Zeitpunkt nicht abzusehen.
                </p>

                <h5>Wer hat Zugriff auf die Daten:</h5>
                <p>Alle angemeldeten Krankenhäuser und medizinischen Einrichtungen können auf die Daten zugreifen, damit die Kontaktaufnahme ewährleistet werden kann. Der Zugriff ist beschränkt auf Nutzer mit Zugangsdaten zum Account der angemeldeten Einrichtung.
                </p>

                <h5>Löschung der Daten:</h5>
                <p>Sollte eine Löschung der Daten gewünscht sein, kann dies per email an datenschutz@match4healthcare.de angezeigt werden.
                    Rechtsgrundlage:<br>
                    Sie haben grundsätzlich folgende Rechte:<br>
                    Auskunftsrecht (Art. 15 DSGVO)<br>
                    Recht auf Berichtigung (Art. 16 DSGVO)<br>
                    Widerspruchsrecht (Art. 21 DSGVO)<br>
                    Recht auf Löschung (Art. 17 DSGVO)<br>
                    Recht auf Einschränkung der Verarbeitung (Art. 18f. DSGVO)<br>
                    Recht auf Datenübertragbarkeit (Art. 20 DSGVO)<br>
                    Recht auf Beschwerde bei einer Aufsichtsbehörde.<br>
                </p>
                <h5>Automatische Datenspeicherung</h5>
                <p>Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und gespeichert, so auch auf dieser Webseite.
                    Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite gespeichert ist) automatisch Daten wie die IP-Adresse Ihres Gerätes, die Adressen der besuchten Unterseiten, Details zu Ihrem Browser (z.B. Chrome, Firefox, Edge,…) und Datum sowie Uhrzeit. Wir nutzen diese Daten nicht und geben Sie in der Regel nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.
                </p>
                <h5>Cookies</h5>
                <p>Unsere Internetseite verwendet so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
                    Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
                    Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
                </p>
                <h5>Analysedienste</h5>
                <p><b>Server-Log-Files</b><br>
                    Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:<br>
                    Browsertyp/ Browserversion<br>
                    verwendetes Betriebssystem<br>
                    Referrer URL<br>
                    Hostname des zugreifenden Rechners<br>
                    Uhrzeit der Serveranfrage<br>
                    Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
                    <br>
                    <b>Google Fonts Datenschutzerklärung</b><br>
                    Wir verwenden Google Fonts der Firma Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) auf unserer Webseite. Die Verwendung von Google Fonts erfolgt ohne Authentisierung und es werden keine Cookies and die Google Fonts API gesendet. Sollten Sie ein Konto bei Google haben, werden keine Ihrer Google-Kontodaten an Google während der Nutzung von Google Fonts übermittelt. Google erfasst lediglich die Nutzung von CSS und der verwendeten Fonts und speichert diese Daten sicher. Mehr zu diesen und weiteren Fragen finden Sie auf https://developers.google.com/fonts/faq.<br>
                    Welche Daten von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auf https://www.google.com/intl/de/policies/privacy/ nachlesen.<br>
                    <b>SSL-Verschlüsselung</b><br>
                    Um Ihre übermittelten Daten bestmöglich zu schützen nutzen die Websitebetreiber eine SSL-Verschlüsselung. Sie erkennen derart verschlüsselte Verbindungen an dem Präfix “https://“im Seitenlink in der Adresszeile Ihres Browsers. Unverschlüsselte Seite sind durch „http://“gekennzeichnet.<br>
                    Sämtliche Daten, welche Sie an diese Website übermitteln – etwa bei Anfragen oder Logins – können dank SSL-Verschlüsselung nicht von Dritten gelesen werden.<br>
                    <b>Eingebettete Inhalte von anderen Websites</b><br>
                    Beiträge auf dieser Website können eingebettete Inhalte beinhalten (z. B. Videos, Bilder, Beiträge etc.). Eingebettete Inhalte von anderen Websites verhalten sich exakt so, als ob der Besucher die andere Website besucht hätte.<br>
                    Diese Websites können Daten über Sie sammeln, Cookies benutzen, zusätzliche Tracking-Dienste von Dritten einbetten und Ihre Interaktion mit diesem eingebetteten Inhalt aufzeichnen, inklusive Ihrer Interaktion mit dem eingebetteten Inhalt, falls Sie ein Konto haben und auf dieser Website angemeldet sind.<br>
                    <hr>
                    <br>
                    Quelle: Teile dieser Datenschutzerklärung wurden mit dem Datenschutz Generator von firmenwebseiten.at erstellt.<br>
                </p>
                <h5>Haftungsausschluss AGB/Datenschutz</h5>
                <p>Wir verbinden Helfende mit Hilfesuchenden. Der Einsatz erfolgt in Eigenverantwortung und in Verantwortung der entsprechenden Einrichtung. match4healthcare übernimmt weder die Haftung noch etwaige notwendige Versicherungen für die Einsätze, die im Anschluss an ein matching durch match4healthcare entstehen. Ebenfalls erfolgt die Angabe der Informationen im Portal auf Eigenverantwortung. Qualifikationen und alle angegebenen Informationen der NutzerInnen müssen vor Einsatzbeginn von Seiten der Hilfesuchenden und Helfenden nochmals verifiziert werden.</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
