{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Datenschutzerklärung
{% endblock %}

{% block header %}
<script type="text/javascript">
    function decode(a) {
        return a.replace(/[a-zA-Z]/g, function (c) {
            return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13)
                ? c : c - 26);
        })
    };
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div style="height:40px"></div>
  <div class="impressum">
    <h1>Datenschutzerklärung</h1>
    <div class="row" style="margin-bottom: 55px;">
      <div class="col-md-12">
        <h4><strong>Datenschutzinformationen</strong></h4>
        <p >Vielen Dank f&uuml;r Ihr Interesse an unserer Internetseite. Der Schutz Ihrer personenbezogenen Daten ist uns wichtig. </p>
        <p >Sie finden nachfolgend Informationen dazu, welche personenbezogenen Daten bei dem Besuch und der Nutzung der Angebote auf unserer Seite www.match4healthcare.de erhoben und verarbeitet werden</p>
        <p><strong>Name und Kontaktdaten des Verantwortlichen<br>
          </strong>Verantwortlicher i.S.d. Art. 4 Abs. 7 DSGVO:</p>
        <p><strong>Name</strong><br>
          match4healthcare e.V. <br>
          Adresse match4healthcare c/o Andreas Kind, Birkenstra&szlig;e 10, 10559 Berlin<br>
          Telefonnummer: +49 7121 360 5434<br>
          Email: info@match4healthcare.de</p>
        <p><strong>Kontaktdaten des Datenschutzbeauftragten</strong><br>
          Unser Datenschutzbeauftragter:<br>
          Jan Klein <br>
          E-Mail: datenschutz@match4healthcare.de <br>
          Telefonnummer: +49 2236-5093401<br>
          </p>
        <p>Bei einem Besuch unserer Webseite verarbeiten wir personenbezogene Daten, die Ihr Browser an unseren Server &uuml;bermittelt. </p>
        <h4><strong>Essentielle Datenerhebungen und Datenerhebungen im berechtigten Interesse</strong></h4>
        <p><strong>Allgemeine Informationen </strong></p>
        <p><strong>Zweck</strong><br>
          Wenn Sie unsere Website besuchen, &uuml;bertr&auml;gt Ihr Webbrowser Nutzungsdaten. Diese sind technisch erforderlich, um einen Verbindungsaufbau zwischen zugreifendem Rechner und Server zu erm&ouml;glichen und Ihnen damit unser Webangebot bereitzustellen.</p>
        <p><strong>Datenkategorien</strong><br>
          Es werden folgende Daten erhoben:</p>
        <ul>
          <li>IP-Adresse</li>
          <li>Datum und Uhrzeit der Anfrage</li>
          <li>Zeitzonendifferenz zur Greenwich Mean Time </li>
          <li>Zugriffsstatus/HTTP-Statuscode</li>
          <li>abgerufene Inhalte (URL)</li>
          <li>&uuml;bertragene Datenmenge</li>
          <li>Website, von der die Anforderung kommt (Referrer URL)</li>
          <li>Informationen zum Browser und Browsereinstellungen Betriebssystem und dessen Oberfl&auml;che</li>
        </ul>
        <p><strong>Empf&auml;nger</strong><br>
          Keine Datenweitergabe</p>
        <p><strong>Rechtsgrundlage</strong><br>
          Art. 6 I lit. f DSGVO &ndash; berechtigtes Interesse</p>
        <p>Wir haben das berechtigte Interessen, Ihnen unser Webangebot funktionsf&auml;hig und manipulationssicher zug&auml;nglich zu machen. Durch die L&ouml;schung der IP-Adresse zum Sitzungsende wird dem Interesse der Nutzer an deren Schutz personenbezogener Daten hinreichend Rechnung getragen.</p>
        <p><strong>Dauer</strong><br>
          Die IP-Adresse wird bei Sitzungsende gel&ouml;scht. Die weiteren Daten werden werden unabh&auml;ngig voneinander gespeichert und sind keiner Person mehr zuzuordnen.</p>
        <h4><strong>Einsatz essentieller Tools</strong></h4>
        <h5><strong>Cookie-Name: sessionid</strong></h5>
        <p><strong>Anbieter: </strong>Verantwortlicher dieser Webseite<br>
          <strong>Zweck: </strong>Sitzungscookie<br>
          <strong>Funktionsdauer: </strong>14 Tage<br>
          <strong>Datenkategorie: </strong>Session ID<br>
          <strong>Empf&auml;nger</strong><strong>:</strong> Keine Datenweitergabe<br>
          <strong>Rechtsgrundlage: </strong>Wir setzen dieses Cookie ein, damit Sie als wiederkehrender Besucher erkannt werden und sich nicht jedes Mal neu anmelden m&uuml;ssen. Dies w&auml;re ohne die Cookie-Setzung nicht oder nur eingeschr&auml;nkt realisierbar. Der Einsatz von Cookies erfolgt auf Grundlage von Art. 6 Abs. 1 Satz 1 lit. f DSGVO. Unser berechtigtes Interesse ist die Bereitstellung eines nutzerfreundlichen Webangebots.</p>
        <h5><strong>Cookie-Name: csrftoken</strong></h5>
        <p><strong>Anbieter: </strong>Verantwortlicher dieser Webseite<br>
          <strong>Zweck: </strong>Wir setzen dieses Cookie ein, um einen Missbrauch unserer Formulare zu verhindern.<br>
          <strong>Funktionsdauer: </strong>1 Jahr<br>
          <strong>Datenkategorie: </strong>IP Adresse<br>
          <strong>Empf&auml;nger</strong><strong>:</strong><strong> </strong>Keine Datenweitergabe<br>
          <strong>Rechtsgrundlage: </strong>Wir setzen dieses Cookie ein, um einen Missbrauch unserer Formulare zu verhindern und so die Funktionsf&auml;higkeit der Seite zu gew&auml;hrleisten. Dies w&auml;re ohne die Cookie-Setzung nicht oder nur eingeschr&auml;nkt realisierbar. Der Einsatz von Cookies erfolgt auf Grundlage von Art. 6 Abs. 1 Satz 1 lit. f DSGVO. Unser berechtigtes Interesse ist die Bereitstellung eines funktionsf&auml;higen Webangebots.</p>
        <h5><strong>Cookie-Name: django-language</strong></h5>
        <p><strong>Anbieter: </strong>Verantwortlicher dieser Webseite<br>
          <strong>Zweck: </strong>Wir setzen dieses Cookie zur Speicherung der Nutzereinstellungen zur gew&auml;hlten Sprache und ggf. von welcher Sprache weitergeleitet wurde.<br>
          <strong>Funktionsdauer: </strong>Bis zum Schlie&szlig;en des Browsers<br>
          <strong>Datenkategorie: </strong>IP Adresse und Spracheinstellungen<br>
          <strong>Empf&auml;nger</strong><strong>:</strong><strong> </strong>Keine Datenweitergabe<br>
          <strong>Rechtsgrundlage: </strong>Wir setzen dieses Cookie ein, um Ihnen unser Websangebot funktionsf&auml;hig und nutzerfreundlich in der von Ihnen gew&auml;hlten Sprache zug&auml;nglich zu machen. Dies w&auml;re ohne die Cookie-Setzung nicht oder nur eingeschr&auml;nkt realisierbar. Der Einsatz von Cookies erfolgt auf Grundlage von Art. 6 Abs. 1 Satz 1 lit. f DSGVO. Unser berechtigtes Interesse ist die Bereitstellung eines funktionsf&auml;higen Webangebots.</p>
        <p><strong></strong></p>
        <p>Sie k&ouml;nnen das Setzen von Cookies durch eine Einstellung Ihres Internetbrowsers deaktivieren und damit das Setzen von Cookies dauerhaft verhindern. Zudem k&ouml;nnen bereits gesetzte Cookies &uuml;ber ihren Internetbrowser gel&ouml;scht werden. Sollten Sie in den Browsereinstellung das Setzen von Cookies deaktivieren kann es sein, dass Sie nicht alle Funktionen unserer Webseite nutzen k&ouml;nnen.</p>
        <h4><strong>Nutzung von Angeboten auf unserer Seite </strong></h4>
        <h5><strong>Bezeichnung der Verarbeitung: Nutzung des Vermittlungsportals</strong></h5>
        <p><strong>Zweck der Verarbeitung:</strong> Vernetzung/Matching zwischen Einrichtungen und hilfsbereiten Personen</p>
        <p><strong>Datenkategorien </strong></p>
        <ul>
          <li>Name</li>
          <li>Kontaktdaten</li>
          <li>Daten zur Verf&uuml;gbarkeit</li>
          <li>Daten zur Qualifikation</li>
          <li>Daten zu Wunscht&auml;tigkeit</li>
        </ul>
        <p><strong>Rechtsgrundlagen der Datenverarbeitung </strong><br>
          Art. 6 I b DSGVO &ndash; AGB zur Nutzung der Plattform</p>
        <p><strong>Dauer der Speicherung oder Kriterien f&uuml;r die Festlegung der Speicherdauer</strong><br>
          Der Nutzer kann Profil jederzeit bearbeiten und/oder ganz l&ouml;schen. Ansonsten werden die Daten solange gespeichert wie ein Bedarf im Rahmen der Corona-Krise besteht. Eine L&ouml;schung wird jedoch sp&auml;testens 3 Jahre nach Eingabe der Daten erfolgen.</p>
        <p><strong>Empf&auml;nger oder Kategorien der Empf&auml;nger der Daten</strong><br>
          Die Einrichtungen erhalten Daten von hilfsbereiten Personen, jedoch ohne Angabe von Name und Kontaktdaten.</p>
        <h5><strong>Bezeichnung der Verarbeitung: Nutzung von YouTube durch Einbettung </strong></h5>
        <p><strong>Zweck der Verarbeitung:</strong> Bereitstellung von eigenen Videos &uuml;ber die Drittplattform YouTube </p>
        <p><strong>Erl&auml;uterungen</strong> <br>
          Wir binden eigene Videos &uuml;ber YoutTube ein. Dies erfolgt im erweiterten Datenschutzmodus der durch YouTube zur Verf&uuml;gung gestellt wird. YouTube sichert hierbei zu, zun&auml;chst keine Cookies auf Ihrem Ger&auml;t zu speichern. Sobald Sie das Video anklicken werden die in den allgemeinen Informationen gennanten Daten an YouTube &uuml;bertragen. Sobald Sie die Wiedergabe des Videos starten speichert YouTube auf Ihrem Ger&auml;t nur Cookies, die keine pers&ouml;nlich identifizierbaren Daten enthalten, es sei denn Sie sind aktuell bei einem Google-Dienst angemeldet. </p>
        <p><strong>Empf&auml;nger</strong><br>
          Google/YouTube: Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland &ndash; Datenschutzerkl&auml;rung: https://policies.google.com/privac</p>
        <p><strong>Rechtsgrundlagen der Datenverarbeitung</strong><br>
          Wir weisen Sie durch einen Mouseover darauf hin, dass das Video bei YouTube gehostet wird und bei einem Anklicken eine Datenverarbeitung durch YouTube stattfinden wird. Durch das Anklicken erteilen Sie die Einwilligung zu dieser Verabeitung, Art. 6 I a DSGVO.</p>
        <h5><strong>Bezeichnung der Verarbeitung:</strong> Mailverkehr </h5>
        <p><strong>Zweck der Verarbeitung: </strong><br>
          Mailverkehr zur Durchf&uuml;hrung des Projektes</p>
        <p><strong>Datenkategorien</strong><br>
        <ul>
          <li>Name</li>
          <li>Mailadresse</li>
          <li>Vom Nutzer angegebene Daten</li>
        </ul>
        </p>
           <p><strong>Rechtsgrundlagen der Datenverarbeitung </strong><br>
          Art. 6 I a DSGVO &ndash; Einwilligung<br>
          Art. 6 I b DSGVO &ndash; AGB zur Nutzung der Plattform</p>

        <h5><strong>Bezeichnung der Verarbeitung:</strong> Nutzung von Mapbox </h5>
  <p><strong>Zweck der Verarbeitung: </strong><br>
          Persönlichere Gestaltung unserer Website durch Einbindung von Mapbox-Servern geladener Karte.</p>
        <p><strong>Datenkategorien</strong><br>
        <ul>
          <li>Verbindungsdaten</li>
        </ul>
        </p>
         <p><strong>Empfänger </strong><br>
       Mapbox, Inc., 740 15th Street NW, 5th Floor, Washington DC 20005</p>
     <p><strong>Übermittlungen an Drittstaaten oder internationale Organisationen </strong><br>
     Mapbox, Inc., 740 15th Street NW, 5th Floor, Washington DC 20005
    (gemäß Beschluss (EU) 2016/1250 – „EU-US- Privacy Shield“)
    </p>

           <p><strong>Rechtsgrundlagen der Datenverarbeitung </strong><br>
      Rechtsgrundlage: Art. 6 Abs. 1 Buchst. f DSGVO</p>

    <h4><strong>Hinweise zu externen Seiten von match4healthcare</strong> </h4>
      <h5><strong>Bezeichnung der Verarbeitung:</strong> Facebook </h5>
 <p><strong>Zweck der Verarbeitung: </strong><br>
          Wir haben auf der Plattform „Facebook“ eine Seite zu unserem Unternehmen („Facebook Seite“) eingerichtet. Wenn Sie diese Seite aufrufen, verarbeitet Facebook personenbezogene Daten von Ihnen. Wir erhalten Statistiken über die Nutzung dieser Seite, die aus diesen Daten abgeleitet werden.</p>
        <p><strong>Datenkategorien</strong><br>
        <ul>
          <li>Stammdaten</li>
          <li>Kontaktdaten</li>
          <li>Inhaltsdaten</li>
          <li>Nutzungsdaten</li>
          <li>Verbindungsdaten</li>
        </ul>
        </p>
         <p><strong>Empfänger oder Kategorien der Empfänger der Daten </strong><br>
      Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland („Facebook“) (als gemeinsam Verantwortlicher, Art. 26 DSGVO – das Wesentliche der Vereinbarung kann unter https://www.facebook.com/legal/terms/page_controller_addendum abgerufen werden)</p>
     <p><strong>Übermittlungen an Drittstaaten oder internationale Organisationen </strong><br>
      Im Einzelfall USA (gemäß Beschluss (EU) 2016/1250 – „EU-US-Privacy Shield“)</p>
      <p><strong>Betroffenrechte </strong><br>
      Für die Umsetzung Ihrer Betroffenenrechte ist Facebook verantwortlich. Über Ihre Betroffenenrechte informiert Facebook Sie unter https://www.facebook.com/legal/terms/information_about_page_insights_data. Sie können Ihre Rechte auch uns gegenüber geltend machen, wir werden Ihre Anfrage dann umgehend an Facebook weiterleiten.</p>
           <p><strong>Rechtsgrundlagen der Datenverarbeitung </strong><br>
      Art. 6 I f DSGVO – Berechtigtes Interesse</p>

   <h5><strong>Bezeichnung der Verarbeitung:</strong> Instagram </h5>
   <p><strong>Zweck der Verarbeitung: </strong><br>
            Zweck der Verarbeitung: Wir haben auf der Plattform "Instagram" der Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland („Facebook“) eine Seite zu unserem Unternehmen („Instagram Seite“) eingerichtet. Wenn Sie diese Seite aufrufen, verarbeitet Facebook personenbezogene Daten von Ihnen.</p>
          <p><strong>Datenkategorien</strong><br>
          <ul>
            <li>Stammdaten</li>
            <li>Kontaktdaten</li>
            <li>Inhaltsdaten</li>
            <li>Nutzungsdaten</li>
            <li>Verbindungsdaten</li>
          </ul>
          </p>
           <p><strong>Empfänger oder Kategorien der Empfänger der Daten </strong><br>
        Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland („Facebook“) (als gemeinsam Verantwortlicher, Art. 26 DSGVO – das Wesentliche der Vereinbarung kann unter https://www.facebook.com/legal/terms/page_controller_addendum abgerufen werden)</p>
       <p><strong>Übermittlungen an Drittstaaten oder internationale Organisationen </strong><br>
        Im Einzelfall USA (gemäß Beschluss (EU) 2016/1250 – „EU-US-Privacy Shield“)</p>
        <p><strong>Betroffenrechte </strong><br>
        Für die Umsetzung Ihrer Betroffenenrechte ist Facebook verantwortlich. Über Ihre Betroffenenrechte informiert Facebook Sie unter https://www.facebook.com/legal/terms/information_about_page_insights_data. Sie können Ihre Rechte auch uns gegenüber geltend machen, wir werden Ihre Anfrage dann umgehend an Facebook weiterleiten.</p>
             <p><strong>Rechtsgrundlagen der Datenverarbeitung </strong><br>
        Art. 6 I f DSGVO – Berechtigtes Interesse</p>

 <h5><strong>Bezeichnung der Verarbeitung:</strong> Twitter </h5>
 <p><strong>Zweck der Verarbeitung: </strong><br>
          Zweck der Verarbeitung: Wir haben auf der Plattform "Twitter" ein Profil eingerichtet. Wenn Sie diese Seite aufrufen, verarbeitet Twitter personenbezogene Daten von Ihnen. Wir erhalten Statistiken über die Nutzung dieser Seite, die aus diesen Daten abgeleitet werden.</p>
        <p><strong>Datenkategorien</strong><br>
        <ul>
          <li>Stammdaten</li>
          <li>Kontaktdaten</li>
          <li>Inhaltsdaten</li>
          <li>Nutzungsdaten</li>
          <li>Verbindungsdaten</li>
        </ul>
        </p>
         <p><strong>Empfänger oder Kategorien der Empfänger der Daten </strong><br>
     Twitter International Company, One Cumberland Place, Fenian Street, Dublin 2, D02 AX07, Irland („Twitter“)</p>
     <p><strong>Übermittlungen an Drittstaaten oder internationale Organisationen </strong><br>
      Im Einzelfall USA (gemäß Beschluss (EU) 2016/1250 – „EU-US-Privacy Shield“)</p>
      <p><strong>Betroffenrechte </strong><br>
      Für die Umsetzung Ihrer Betroffenenrechte ist Facebook verantwortlich. Über Ihre Betroffenenrechte informiert Facebook Sie unter https://www.facebook.com/legal/terms/information_about_page_insights_data. Sie können Ihre Rechte auch uns gegenüber geltend machen, wir werden Ihre Anfrage dann umgehend an Facebook weiterleiten.</p>
           <p><strong>Rechtsgrundlagen der Datenverarbeitung </strong><br>
      Art. 6 I f DSGVO – Berechtigtes Interesse</p>

<h4><strong>Sonstige Informationen</strong></h4>


        <p><strong>Dauer der Speicherung oder Kriterien f&uuml;r die Festlegung der Speicherdauer</strong><br>
          Der Nutzer kann Profil jederzeit bearbeiten und/oder ganz l&ouml;schen. Ansonsten werden die Daten solange gespeichert wie ein Bedarf im Rahmen der Corona-Krise besteht. Eine L&ouml;schung wird jedoch sp&auml;testens 3 Jahre nach Eingabe der Daten erfolgen.</p>
        <p>Sofern die Speicherung aufgrund einer Einwilligung erfolgt, werden die Daten gel&ouml;scht, wenn die Einwilligung widerrufen wird, sp&auml;testens jedoch 3 Jahre nach Eingabe der Daten.</p>
        <p><strong>Empf&auml;nger oder Kategorien der Empf&auml;nger der Daten</strong><br>
          Die Einrichtungen erhalten Daten von hilfsbereiten Personen, jedoch ohne Angabe von Name und Kontaktdaten. Der Mailverkehr wird &uuml;ber den Anbieter Twilio/Sendgrid abgewickelt. Sowohl die Twilio Inc. Als auch die SendGrid Inc., San Francisco, California sind als Auftragsverarbeiter eingebunden. Der Anbieter hat sich dem EU-US Privacy Shield unterworfen. Weitere Infos zum Datenschutz finden Sie hier: https://www.twilio.com/gdpr</p>
        <h4><strong>Sonstige Informationen</strong></h4>
        <p><strong>Empf&auml;nger der Daten</strong><br>
          Soweit oben nicht angegeben werden die Daten nicht an Dritte weitergegeben. </p>
        <p><strong>&Uuml;bermittlungen an Drittstaaten oder internationale Organisationen</strong><br>
          Soweit oben nicht angegeben findet keine &Uuml;bermittlung an Drittstaaten oder internationale Organisationen statt.</p>
        <p><strong>Pflicht zur Bereitstellung von Daten</strong><br>
          Sie sind nicht verpflichtet, uns Ihre Daten zur Verf&uuml;gung zu stellen. Sofern Sie die Daten nicht zur Verf&uuml;gung stellen m&ouml;chten k&ouml;nnen Sie ggf. einzelne Funktionen unserer Webseite nicht nutzen. </p>
        <p><strong>Ihre Datenschutzrechte</strong></p>
        <ul>
          <li>Recht auf Auskunft nach Art. 15 DSGVO</li>
          <li>Recht auf Berichtigung nach Art. 16 DSGVO</li>
          <li>Recht auf L&ouml;schung nach Art. 17 DSGVO</li>
          <li>Recht auf Einschr&auml;nkung der Verarbeitung nach Art. 18 DSGVO</li>
          <li>Recht auf Daten&uuml;bertragbarkeit nach Art. 20 DSGVO</li>
          <li>Recht auf Beschwerde bei einer zust&auml;ndigen Datenschutzaufsichtsbeh&ouml;rde nach Art. 77 DSGVO</li>
          <li>Recht auf Widerruf nach Art. 7 Abs. 3 DSGVO</li>
          <li>Recht auf Widerspruch, Art. 21 DSGVO</li>
        </ul>
        <p><strong>Automatisierte Entscheidungsfindung</strong><br>
          Eine automatisierte Entscheidungsfindung einschlie&szlig;lich einer Bewertung pers&ouml;nlicher Aspekte (sog. Profiling gem. Art. 4 Abs. 4 DSGVO) findet nicht statt.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
