{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
Home
{% endblock %}

{% block header %}

<meta name="description" content="Der Glaube daran Mitmenschen in Not helfen können, die Liebe zum Fach Medizin und der Zusammenhalt untereinander sind in den letzten Wochen und Monaten im Gesundheitswesen noch viel präsenter denn je.">
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<link rel="canonical" href="https://match4healthcare.de/">
<meta property="og:title" content="match4healthcare - Wir vernetzen Helfende mit Hilfesuchenden.">
<meta property="og:description" content="Der Glaube daran Mitmenschen in Not helfen können, die Liebe zum Fach Medizin und der Zusammenhalt untereinander sind in den letzten Wochen und Monaten im Gesundheitswesen noch viel präsenter denn je.">
<meta property="og:url" content="https://match4healthcare.de/">
<meta property="og:site_name" content="match4healthcare">
<meta name="twitter:description" content="Der Glaube daran Mitmenschen in Not helfen können, die Liebe zum Fach Medizin und der Zusammenhalt untereinander sind in den letzten Wochen und Monaten im Gesundheitswesen noch viel präsenter denn je.">
<meta name="twitter:title" content="match4healthcare - Wir vernetzen Helfende mit Hilfesuchenden.">
<style>
	body {
  margin-top: 0px;
}

.navbar { background-color: transparent !important; }

@media only screen and (min-width: 768px) {
	.navbar-brand { display: none; }

	.home-title {

			padding: 100px 0px 150px 0px ;

}
	}

	@media only screen and (min-width: 992px) {
	.home-title {	padding: 100px 0px 200px 0px ;
	}
	}

	@media only screen and (min-width: 1200px) {
		.home-title { padding: 180px 0px 200px 0px ;
	}
	}


	@media only screen and (max-width: 767px) {
		.logo-header { display:none; }

		.home-title {
  background:#bdcbcc;
			padding: 120px 0px 70px 0px;

  }

		.home-title h1 { font-size: 2rem;
		color: #000943 !important;
			text-align:center;
		}

		.home-box > div > div > div {
			padding: 30px 10px 30px 30px; }

		.home-box-description { margin-bottom: 15px;}

		.navbar {
      background-color:#bdcbcc !important;}
	  }

	.navbar { -webkit-box-shadow: none;
-moz-box-shadow: none;
	box-shadow: none; }

	.hide-home { display:none;}

	.ml-auto { margin-left: 0 !important; margin-right: auto; }

	.navbar.fixed-top { position: absolute;}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.navbar > .container { width: 100%; max-width: 720px !important; padding-left: 15px; padding-right: 0px; }
	}


</style>
{% endblock %}

{% block content %}
<main role="main">
  <div class="home-title">
    <div class="container">
      <div class="row align-self-center align-items-center">
        <div class="col-md-8 col-xl-5"> <img src="{% static 'img/match4healthcare-logo.svg' %}" width="320px" class="logo-header">
          <h1 class="text-white font-weight-light">{% blocktrans %}In Zeiten der Krise vernetzen wir Helfende mit Hilfesuchenden.{% endblocktrans %}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container home-box">
    <div class="row align-self-center">
      <div class="col-md-6 text-white">
        <div class="box-left">
          <h2 class="text-white font-weight-light">{% blocktrans %}Ich bin{% endblocktrans %}<br>
            <b>{% blocktrans %}Helfende/r{% endblocktrans %}</b></h2>
          <p class="text-white home-box-description">{% blocktrans %}Ich möchte eine medizinische Einrichtung unterstützen.{% endblocktrans %}</p>
          <a href="/accounts/signup_student">
          <button type="button" class="btn blue text-white btn-lg">{% blocktrans %}Jetzt Hilfe anbieten{% endblocktrans %}
          <svg class="bi bi-person-plus" style="margin-left:3px;"  width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM6 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zm4.5 0a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
          </svg>
          </button>
          </a> </div>
      </div>
      <div class="col-md-6">
        <div class="box-right">
          <h2 class="text-white font-weight-light">{% blocktrans %}Wir sind eine{% endblocktrans %}<br>
            <b>{% blocktrans %}Institution{% endblocktrans %}</b></h2>
          <p class="text-white home-box-description">{% blocktrans %}Wir haben Bedarf an Unterstützung.{% endblocktrans %}</p>
          {% if user.is_authenticated and user.is_hospital %}
          {% url 'list_by_plz' user.hospital.countrycode user.hospital.plz 10 as filter_student_url %} <a href="{{ filter_student_url }}"> {% else %} <a href="/accounts/signup_hospital"> {% endif %}
          <button type="button" class="btn text-white btn-lg pink">{% blocktrans %}Jetzt Hilfe suchen{% endblocktrans %}
          <svg class="bi bi-search" style="margin-left:3px;" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
          </svg>
          </button>
          </a> </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top:55px;">
    <div class="row">
      <div class="col-md-12" style="text-align: left; margin: 0 auto;">
        <h2 style="text-align:center; font-size: 1.5rem; font-weight:600; margin-bottom: 15px">{% blocktrans %}Gemeinsam unser Gesundheitssystem stärken, mit einem{% endblocktrans %} <img src="{% static 'img/match4healthcare-logo-text.svg' %}" width="180px" style="vertical-align: baseline"></h2>
        <hr style="width:60%; margin: 0 auto; margin-bottom:45px; border-width: 2px; ">
      </div>
      <div class="col-lg-7 order-sm-2 order-lg-3" style="text-align: left; margin-bottom: 45px;">
        <p>{% blocktrans %}Der Glaube daran, dass Mitmenschen in Not helfen können, die Liebe zum Fach Medizin und der Zusammenhalt untereinander sind in den letzten Wochen und Monaten im Gesundheitswesen noch viel präsenter denn je.{% endblocktrans %}</p>
        <p>{% blocktrans %}Gerade aus diesem Grund brauchen wir zur jetzigen Zeit eine einfache und vor allen Dingen eine effiziente Schnittstelle, zwischen den medizinischen Einrichtungen und Fachkräften. Eine Schnittstelle, die es ermöglicht, dass Hilfebietende und Hilfesuchende schnell und unkompliziert miteinander vernetzt werden.{% endblocktrans %}</p>
        <p>{% blocktrans %}Die Plattform "match4healthcare" bietet die ideale Schnittstelle zur schnellen und effizienten Vernetzung eben dieser Parteien und bietet vor allem zu Zeiten wie jetzt die ideale Problemlösung.{% endblocktrans %}</p>
      </div>
      <div class="col-lg-5 order-sm-3 order-lg-2" style="text-align: center; margin-bottom: 45px;">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/g8-EqUU55Bo" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="text-align: left; margin: 0 auto;">
      <h2 style="text-align:center; font-size: 1.5rem; font-weight:600; margin-bottom: 55px">{% blocktrans %}100% ehrenamtlich und uneigennützig von Studierenden als Open-Source Projekt entwickelt{% endblocktrans %}</h2>
    </div>
	  
	  </div>
	  <div style="background-color: #f5f5f5;">
	  <div class="container" style="padding: 40px 0;">
    <div class="col-lg-9 logos-home" style="text-align: center; margin: 0 auto; ">
      <h2 style="text-align:center; font-size: 1.3rem; margin-bottom: 15px;  ">{% blocktrans %}Ein gemeinsames Projekt von{% endblocktrans %}</h2>
      <a href="https://www.medis-vs-covid19.de" target="_blank"><img src="{% static 'img/medis-vs-covid19-logo.svg' %}" height="45px"></a> <a href="https://www.bvmd.de/" target="_blank"><img src="{% static 'img/logo-bvmd.svg' %}" height="80px"></a> <a href="https://wirvsvirushackathon.org/" target="_blank"><img src="{% static 'img/wir-vs-virus.svg' %}" height="130px" style="margin:0px;"></a> </div>
		  
	  </div></div>
	  
	
	  <div class="container" style="padding: 40px 0;">
    <div class="col-lg-9 logos-home" style="text-align: center; margin: 0 auto; ">
      <h2 style="text-align:center; font-size: 1.3rem; margin-bottom: 15px;  ">{% blocktrans %}Unsere Kooperations&shy;partner{% endblocktrans %}</h2>
      <a href="https://www.apobank.de" target="_blank"><img src="{% static 'img/apobank.svg' %}" height="45px" style="margin:0 10px;"></a> <a href="https://www.lhr-law.de" target="_blank"><img src="{% static 'img/LHR.png' %}" height="100px" style="margin:0 10px;"></a> <a href="https://www.perseus.de" target="_blank"><img src="{% static 'img/perseus.png' %}" height="40px" style="margin:0 10px;"></a>  <a href="https://biss-fest.com" target="_blank">
          <img src="{% static 'img/bissfest.png' %}" height="120px" style="margin:0 10px;">
        </a> </div>
		  
	  </div>
		  
		 <div style="background-color: #f5f5f5;">
	  <div class="container" style="padding: 40px 0;">
    <div class="col-lg-12 logos-home" style="text-align: center; margin: 0 auto;">
      <h2 style="text-align:center; font-size: 1.3rem; margin-bottom: 15px;">{% blocktrans %}Empfohlen von{% endblocktrans %}</h2>

        <a href="https://www.marburger-bund.de" target="_blank">
          <img src="{% static 'img/logo-mb.png' %}" height="50px">
        </a>

        <a href="https://www.bundesaerztekammer.de" target="_blank">
          <img src="{% static 'img/BAEK.png' %}" height="50px">
        </a>

        <a href="https://www.kbv.de/html/" target="_blank">
          <img src="{% static 'img/KBV-logo.png' %}" height="40px">
        </a>

        <a href="https://hashtag-gesundheit.de" target="_blank">
          <img src="{% static 'img/Hashtag-Gesundheit.png' %}" height="90px">
        </a>

        <a href="https://buendnisjungeaerzte.org" target="_blank">
          <img src="{% static 'img/Budndnisjunger.png' %}" height="60px">
        </a>

        <a href="https://www.aerzteblatt.de" target="_blank">
          <img src="{% static 'img/aerzteblatt_logo.svg' %}" height="15px">
        </a>
        
      

        <a href="https://www.thieme.de/de/index.htm" target="_blank">
          <img src="{% static 'img/thieme.png' %}" height="80px">
        </a>

        <a href="https://oehmedwien.at/" target="_blank">
          <img src="{% static 'img/oeh-wien.svg' %}" height="50px" style="margin-left:20px;">
        </a>
        
        <a href="http://www.oehmedgraz.at/" target="_blank">
          <img src="{% static 'img/oeh-graz.svg' %}" height="50px" style="margin-left:20px;">
        </a>

        <a href="https://www.oeh.jku.at/" target="_blank">
            <img src="{% static 'img/oeh-linz.svg' %}" height="40px" style="margin-left:20px;">
        </a>

        <a href="https://skalpell.at/" target="_blank">
          <img src="{% static 'img/oeh-ibk.svg' %}" height="45px" style="margin-left:25px;">
        </a>

        <a href="https://oeh-sfu.at/" target="_blank">
          <img src="{% static 'img/oeh-sfu.jpg' %}" height="30px" style="margin-left:20px; margin-right:20px;">
        </a>
</div>
    </div>
  </div>
</main>
{% endblock %}