{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<main role="main">
  <div class="container">
   <div class="row align-self-center align-items-center">
    <div class="col-md-12">
      <div class="container">
        <br>
        <br>
        <h1 class="display-4">Helping Health</h1>
      </div class="container">
    </div>
    <div class="col-md-5 m-1 p-3">
        <p>Liebe Medizinstudierende, Freiwillige, Ärzte und Ärztinnen, <br>
        <br>
        wir wollen euch über diese Plattform die Möglichkeit bieten, bei der Bewältigung der Coronakrise in Deutschland zu helfen. Unser Ziel ist es, den Krankenhäusern, Arztpraxen und Gesundheitsämtern in Deutschland einen Pool an Fachkräften bereitzustellen, die bereit sind, in Notsituationen auszuhelfen und wichtige Aufgaben zu übernehmen. Dabei wollen wir euch euren Erfahrungen und Fähigkeiten entsprechend einem Krankenhaus, einer Arztpraxis oder einem Gesundheitsamt zuweisen können.</p>
    </div>
      <div class="col-md-5 order-last order-md-0 center-block m-1 p-3" >
         <iframe id="video" src="https://www.youtube-nocookie.com/embed/XjnWuCSqAtY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <script type="text/javascript">
          var width = Math.min(screen.width*0.9, 560)
          var height = Math.min(screen.width*0.9, 560)*(315/560.0)
          $(document).ready(function () {
            $("#video").width(width);
            $("#video").height(height);
          });
        </script>
      </div>
      <div class="col-md-5 m-1 p-3">
        <h2>Ich will helfen</h2>
        <p>Ich habe Erfahrung um in dieser Notsituation medizinisch helfen zu können: ich studiere Medizin, habe bereits in der Pflege gearbeitet, bin Rettungssanitäter oder habe andere relevante Fähigkeiten. Ich möchte mit Möglichkeiten zu helfen kontaktiert werden!</p>
        <p><a class="btn btn-primary" href="/mapview" role="button">Zur Karte &raquo;</a></p>
        <p><a class="btn btn-primary" href="/iamstudent/student_registration" role="button">Registriere Mich &raquo;</a></p>
      </div>
      <div class="col-md-5 m-1 p-3">
        <h2>Ich brauche Unterstützung</h2>
        <p>Ich arbeite in einem Krankenhaus oder einer Praxis und brauche Unterstützung um den Ansturm der nCOV-19 Patienten zu bewältigen. Ich suche gezielt Fachkräfte, welche mich bei meiner Arbeit im Gesundheitswesen unterstützen können.</p>
        <p><a class="btn btn-primary" href="/ineedstudent/hospital_map" role="button">Zur Karte &raquo;</a></p>
        <p><a class="btn btn-primary" href="/ineedstudent/hospital_registration" role="button">Anzeige stellen &raquo;</a></p>
      </div>
    </div>

    <hr>
</main>
{% endblock %}
