{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Impressum
{% endblock %}

{% block header %}
<script type="text/javascript">
    function decode(a) {
        return a.replace(/[a-zA-Z]/g, function (c) {
            return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13)
                ? c : c - 26);
        })
    };
</script>
{% endblock %}

{% block content %}


<div class="container">
    <div style="height:40px"></div>
    <div class="impressum">
        <h1>Impressum</h1>
        <div class="row">
            <div class="col-md-4 m-1 p-3">
                <h5>Personen hinter dem Projekt</h5>
                <strong>Amandeep Grewal, Andreas Zehetner, Ahmed Abdel-Rahman, Michael Neulinger und Alexandra Diendorfer</strong><br><br>
                Tel.: +49 7121 360 5434 <br>
                E-Mail: <script type="text/javascript">document.write(decode("vasb@zrqvf-if-pbivq19.qr"))</script><br><br>
                Verantwortlicher für den Inhalt auf dieser Website ist Amandeep Grewal, Burgstraße 33, Reutlingen, Deutschland.<br><br>
                <h5>Datenschutz</h5>
                <p>Unsere Datenschutzerklärung finden Sie <a href="/{{ LANGUAGE_CODE }}/dataprotection">hier</a>.</p>
            </div>
            <div class="col-md-6 m-1 p-3">
                <p>Angaben gemäß § 5 TMG</p>
                <h5>Urheberrecht</h5>
                <p>Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns korrekte und aktuelle
                    Informationen
                    bereitzustellen. Leider können wir keine Haftung für die Korrektheit aller Inhalte auf dieser
                    Webseite
                    übernehmen, speziell für jene die seitens Dritter bereitgestellt wird. Sollten Ihnen problematische
                    oder
                    rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren, Sie finden die
                    Kontaktdaten im
                    Impressum.<br>

                    Die auf dieser Webseite veröffentlichten Inhalte, Werke und bereitgestellten Informationen
                    unterliegen dem
                    Urheberrecht und Leistungsschutzrecht. Jede Art der Vervielfältigung, Bearbeitung, Verbreitung,
                    Einspeicherung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedarf der
                    vorherigen
                    schriftlichen Zustimmung des Rechteinhabers, Amandeep Grewal. Das unerlaubte Kopieren/Speichern der
                    bereitgestellten Informationen auf diesen Webseiten ist nicht gestattet und strafbar. Amandeep
                    Grewal ist
                    alleiniger Rechteinhaber dieser Website inkl. deren Inhalte.<br>

                    Amandeep Grewal ist verantwortlich für den gesamten Inhalt und ist alleiniger Rechteinhaber der
                    Website
                    (inkl. Logos, Grafiken, Design & Texte).<br>

                    Falls nicht anders angegeben, unterliegen alle Seiten auf diesem Informationsserver von Amandeep
                    Grewal dem
                    Urheberrecht (Copyright). Dies gilt insbesondere für Texte, Bilder, Grafiken, Ton-, oder
                    Videodateien
                    einschließlich deren Anordnung auf der Webseite. Eine Vervielfältigung oder Verwendung der Seiten
                    (oder
                    Teilen davon) in anderen elektronischen oder gedruckten Publikationen und deren Veröffentlichung
                    (auch im
                    Internet) ist nur nach vorheriger Zustimmung gestattet. Die Zustimmung erteilt der Verantwortliche
                    für die
                    Website, Amandeep Grewal.<br>
                </p>
                <h5>Haftungsausschluss</h5>
                <p>Die auf dieser Webseite bereitgestellten Informationen werden durch Amandeep Grewal nach bestem
                    Wissen und
                    Gewissen erarbeitet, geprüft und regelmäßig aktualisiert. Es wird jedoch keinerlei Gewähr für die
                    Richtigkeit, Vollständigkeit, Aktualität und jederzeitige Verfügbarkeit der zur Verfügung gestellten
                    Informationen übernommen.<br>

                    Amandeep Grewal haftet nicht für Schäden, die durch die Nutzung oder Nichtnutzung der im
                    Internetangebot
                    angebotenen Informationen entstehen. Der Haftungsausschluss gilt nicht, soweit diese auf Vorsatz
                    oder grober
                    Fahrlässigkeit beruhen.<br>

                    Amandeep Grewal behält sich vor, die Webseite ohne gesonderte Ankündigung zu verändern, zu ergänzen,
                    zu
                    löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.<br>
                </p>
                <h5>Haftung für Links auf dieser Webseite</h5>
                <p>Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich sind.
                    Wenn Ihnen
                    rechtswidrige Links auf unserer Webseite auffallen, bitte wir Sie uns zu kontaktieren, Sie finden
                    die
                    Kontaktdaten im Impressum. Amandeep Grewal ist nur für die von ihr bereitgestellten Inhalte
                    verantwortlich.
                    Davon zu unterscheiden sind Querverweise (Links) auf die Webseiten anderer Anbieter. Die Amandeep
                    Grewal ist
                    für den Inhalt der Webseiten, die auf Grund einer solchen Verbindung erreicht werden, nicht
                    verantwortlich.
                    Für illegale, fehlerhafte oder unvollständige Inhalte sowie Schäden, die aus der Nutzung oder
                    Nichtnutzung
                    von Informationen Dritter entstehen, haftet alleine der jeweilige Anbieter der Seite, auf welche
                    verwiesen
                    wird.<br>
                </p>
                <h5>Bildernachweis</h5>
                <p>Die veröffentlichten Bilder auf dieser Website unterliegen dem Urheberrecht. Eine Verwertung der
                    Bilder
                    bedarf daher einer Zustimmung der jeweiligen Berechtigten. Bilder-Benutzung unter Lizenz von
                    ingimage.com
                    und shutterstock.com.<br>
                </p>
                <h5>Haftungsausschluss AGB/Datenschutz</h5>
                <p>Wir verbinden Helfende mit Hilfesuchenden. Der Einsatz erfolgt in Eigenverantwortung und in Verantwortung der entsprechenden Einrichtung. m4h übernimmt weder die Haftung noch etwaige notwendige Versicherungen für die Einsätze, die im Anschluss an ein matching durch m4h entstehen. Ebenfalls erfolgt die Angabe der Informationen im Portal auf Eigenverantwortung. Qualifikationen und alle angegebenen Informationen der NutzerInnen müssen vor Einsatzbeginn von Seiten der Hilfesuchenden und Helfenden nochmals verifiziert werden.</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
