{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Allgemeine Nutzungsbedingungen{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="container">
        <div style="height:40px"></div>
        <h2 style="font-weight: 500;">Allgemeine Nutzungsbedingungen</h2>
        <hr>
		
<h4>Herzlich willkommen auf der Plattform match4healthcare.</h4>
	

<p>Die aktuelle Coronavirus Pandemie stellt global Regierungen, Länder und deren Gesundheitssysteme vor eine große Herausforderung. Die Versorgung von COVID-19 Patient*innen durch Krankenhäuser und Arztpraxen sieht sich mit vielen Engpässen konfrontiert. Einerseits werden notwendige Materialien wie Schutzkleidung, Handschuhe und Desinfektionsmittel immer knapper oder fehlen gänzlich. Andererseits fehlen durch Erkrankung oder Versorgung von Familienmitgliedern wichtige Mitarbeiter*innen. Um dieses Problem zu adressieren, erließ Italien 10 000 Medizinstudierenden das Staatsexamen, sodass diese mit ihren medizinischen Vorerfahrungen im italienischen Gesundheitssystem mit anpacken konnten. </p>

<p>Auch in Deutschland haben sich, beispielsweise über die Initiative Medizinstudierende vs. COVID-19, Medizinstudierende freiwillig zur Hilfe in Gesundheitseinrichtungen gemeldet. Nun soll mit match4healthcare eine zentrale Plattform für die Vernetzung von Helfenden und Gesundheitseinrichtungen entstehen, um mögliche personelle Engpässe in Krankenhäusern oder Arztpraxen zu umgehen.</p>

<h4>Was ist match4healthcare?</h4>

<p>match4healthcare ist eine unentgeltlich zur Verfügung gestellte Plattform zur Vernetzung von Helfenden und Hilfesuchenden (“Nutzer”) in Zeiten der Bedrohung durch COVID19 (auch so genannte “Corona-Krise”) ohne kommerziellen Hintergrund.</p>

<p>Sie ist in Zusammenarbeit zwischen der bundesweit erfolgreich und bekannt gewordenen Initiative „Medizinstudierende vs. COVID-19“ (medis-vs-covid19.de), der Bundesvertretung der Medizinstudierenden in Deutschland e.V. (bvmd) und zahlreichen weiteren, ehrenamtlich arbeitenden Freiwilligen im Rahmen des Hackathons der Bundesregierung (#wirvsvirus) entstanden und wird den dynamischen Entwicklungen der Krise immer wieder angepasst.</p>

<h4>Wie hilft match4healthcare?</h4>

<p>match4healthcare vernetzt Helfende und Hilfesuchende aus dem Gesundheitswesen anhand von Kriterien wie Qualifikation, Verfügbarkeit und Wunschtätigkeit auf der einen und Bedarf auf der anderen Seite. Die Bereitstellung der Plattform und die Durchführung der Vernetzung von Helfenden und Hilfesuchenden werden durch den ehrenamtlichen Einsatz vieler hilfsbereiter Freiwilliger ermöglicht und erfolgt unentgeltlich.<br>

Um den Datenschutz zu gewährleisten, werden Namen und Kontaktdaten der Helfenden den Gesundheitseinrichtungen während des gesamten Matchingprozesses nicht preisgegeben. </p>

<h4>Für Helfende:</h4>

<p>Helfende können sich bei match4healthcare mit Namen und Kontaktdaten, dem gewünschten Einsatzort und Angaben über den aktuellen Ausbildungsstand und medizinische Erfahrung registrieren und ein Nutzerkonto erstellen, um Institutionen aus dem Gesundheitswesen bestmöglich zu unterstützen. Die gemachten Angaben können nach der Anmeldung in einem persönlichen Profil angepasst und laufend aktuell gehalten werden. </p>

<h4>Für Hilfesuchende:</h4>

<p>Hilfesuchende können sich bei match4healthcare ebenfalls mit Namen und Kontaktdaten registrieren und ein Nutzerkonto erstellen. Eine interaktive Landkarte Deutschlands, Österreichs und der Schweiz zeigt die Anzahl der hilfsbereiten Personen in jedem Postleitzahlbereich anonymisiert an. Den Hilfesuchenden wird in ihrem Nutzerkonto darüber hinaus eine Liste zur Verfügung gestellt, in denen die Qualifikationen, die Verfügbarkeit und mitgeteilt wird, ob die Helfenden eine Unterkunft wünschen und eine Bezahlung benötigen.</p>

<p>Die Hilfesuchenden können aus der Liste auswählen welche Helfenden sie kontaktieren möchten und im nächsten Schritt eine E-Mail an diese verfassen. Die Helfenden werden somit über ihren möglichen Einsatzorte informiert und können dann selbst entscheiden, ob und unter welchen Bedingungen sie zusagen möchten.</p>

<h4>Was müssen Nutzer beachten?</h4>

<p>match4healthcare ist eine aufgrund einer weltweiten Gesundheitskrise von ehrenamtlich und unentgeltlich handelnden Freiwilligen angebotene Plattform, die ausschließlich dem Gemeinwohl dienen soll. Sie, geehrte Helfende und Hilfesuchende, leisten dazu den wichtigsten Beitrag: Durch ihre selbstlose und tatkräftige Hilfe in diesem Ausnahmezustand. Wir halten es daher für unwahrscheinlich, dass match4healthcare für sachfremde Zwecke von Nutzern missbrauch werden wird. Dennoch weisen wir der Ordnung halber auf das Folgende hin:</p> 

<p>Die Eingabe und Übermittlung der persönlichen Daten durch die Nutzer erfolgt online über die von match4healthcare vorbereiteten Eingabemasken oder über andere ausdrücklich von match4healthcare im Einzelfall vorgesehene Übermittlungswege. Für die Vollständigkeit und Richtigkeit sämtlicher vom Nutzer in die Eingabemaske eingegebenen oder sonst übermittelten Daten ist ausschließlich der Nutzer selbst verantwortlich. Sofern Nutzer falsche, unwahre oder unzureichende Angaben machen, ist match4healthcare berechtigt, die Anfrage unbearbeitet zu lassen. Für den Fall der Übermittlung von vorsätzlich falschen oder unwahren persönlichen Daten durch die Nutzer behält sich match4healthcare vor, diese von der Inanspruchnahme der angebotenen bzw. zur Verfügung gestellten Leistungen auszuschließen und Ersatz für dadurch eingetretene Schäden zu verlangen. </p>

<h4>Wie haftet match4healthcare?</h4>

<p>match4healthcare erstellt, wartet und unterhält die Online-Plattform, agiert jedoch nicht selbst aktiv als Vermittler zwischen den Nutzern. Es besteht kein Anspruch auf Nutzung der Plattform match4healthcare. Wartungsarbeiten, technische Ausfälle oder Fehler können dazu führen, dass sie nicht verfügbar ist.</p> 

<p>Darüber hinaus kann trotz aller Bemühungen nicht hundertprozentig ausgeschlossen werden, dass durch die Nutzung der Angebote Schäden entstehen, etwa wenn Dritte sie trotz aller Sicherheitsvorrichtungen zur Verbreitung von Viren oder Ähnlichem zu missbrauchen versuchen. Für Schäden, die aus der Nutzung der Angebote entstehen, übernehmen wir daher – auch für unsere gesetzlichen Vertreter, leitenden Angestellten und Erfüllungsgehilfen – grundsätzlich keine Haftung, außer bei vorsätzlichem oder grob fahrlässigem Handeln (bei Verletzung des Lebens, des Körpers oder der Gesundheit schließen wir die Haftung auch für einfache Fahrlässigkeit nicht kategorisch aus).</p>

<p>Wir übernehmen ausdrücklich keine Gewähr für Richtigkeit, Vollständigkeit, Verlässlichkeit, Geeignetheit und Aktualität sowie Brauchbarkeit der Inhalte. Diese dienen ausschließlich der allgemeinen Information. Hinweise, Empfehlungen und Auskünfte sind unverbindlich. Jegliche Verwendung der angebotenen Inhalte geschieht auf eigenes Risiko. Insbesondere nimmt match4healthcare keine Prüfung der vom Nutzer angegebenen Qualifikationen vor.</p>

<h4>Wie schützt match4healthcare Daten?</h4>

<p>Zur Gewährleistung der Datenminimierung gibt match4healthcare keine Namen und Kontaktdaten von Helfenden an die Hilfesuchenden weiter. Die unmittelbare Kontaktaufnahme erfolgt stets durch den Helfenden. Die Darstellung der Helfenden findet auf der Helferkarte lediglich in Gestalt der Anzahl der Helfenden in einem bestimmten Postleitzahlenbereich statt. In den Hilfesuchenden in ihrem Nutzerkonto zur Verfügung gestellten Listen werden darüber hinaus Qualifikationen, die Verfügbarkeit und mitgeteilt, ob der Helfende zu eine Unterkunft wünscht und eine Bezahlung benötigt.</p>

<h4>Hinweis bei den Formularen:</h4>

<p>Die Angaben in den Formularen sind freiwillig. Ohne die Angabe ist eine Teilnahme an unserem Projekt nicht möglich. Informationen zur Verarbeitung personenbezogener Daten finden Sie in unserer Datenschutzinformation.</p>


    
        <div style="height:40px"></div>



        </div>

{% endblock %}
