{% extends 'base.html' %}
{% load static %}

{% block title %}
Registrierung - Krankenhäuser
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <p>
	<br>
	<br>
        {% blocktrans %}Damit wir Eure Anzeigen hochladen können, und ihr auch so kontaktiert werden könnt, gebt eure Anprechpartner und
        Infos an!{% endblocktrans %}
    </p>
</div>
<div class="container">
    <div class="card border-primary">
        <div class="card-header">
            {% blocktrans %}Registrierung - Hilfesuchendes Krankenhaus o.Ä.{% endblocktrans %}
        </div>
        <div class="card-body">
            <form action="hospital_registration" method="post">
                {% csrf_token %}
                {% crispy form form.helper %}
            </form>
        </div>
    </div>
</div>
<hr>
{% endblock %}
