{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if distance == 0 %}
Hilfsbereite studierende in {{ ort }} (Postleitzahl {{ plz }})
{% else %}
Hilfsbereite studierende in der Nähe {{ ort }} (Postleitzahl {{ plz }})
{% endif %}
{% endblock %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>
<script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>
<link rel="stylesheet" href="https://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">
{% endblock %}

{% block content %}

<div class="container">
  <div style="height:20px"></div>

<h2>{% if distance == 0 %}
Hilfsbereite Studierende in {{ ort }} (Postleitzahl {{ plz }})
{% else %}
Hilfsbereite Studierende in der Nähe von {{ ort }} (Postleitzahl {{ plz }})
{% endif %}
</h2>

<!--<div class="card">
  <div class="card-header">
    Filter die Suche
  </div>
  <div class="card-body">
       <form method="get">
         {{ filter.form.as_p }}
        <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
       </form>
  </div>
</div>-->


<div class="card">
  <div class="card-header">
    Die Suche Filtern
  </div>
  <div class="card-body">
    <div class="form-group">
      <p> Land: </p>
      <select name="countrycode" class="form-control" id="countrycode">
       <option value="DE">Deutschland</option>
       <option value="AT">Österreich</option>
     </select>
    </div>
    <div class="form-group">
      <p> Postleitzahl: </p>
      <input id="plz" value="{{ plz }}" class="form-control">
    </div>
    <div class="form-group">
      <p> Und im Umkreis von (km): </p>
      <input id="umkreis" value="{{ distance }}" class="form-control">
    </div>
    <button type="submit" class="btn blue text-white btn-lg" onclick="getrequest()">
    <span class="glyphicon glyphicon-search"></span>Filtern!
  </div>
  </button>
</div>
<table id="table"
			 data-toggle="table"
			 data-search="false"
			 data-filter-control="true"
			 data-show-export="false"
			 data-click-to-select="true"
			 data-toolbar="#toolbar">
	<thead>
		<tr>
			<th data-field="id" data-checkbox="true">Auswahl</th>
			<th data-field="plz" data-sortable="true">Postleitzahl</th>
      <th data-field="countrycode" data-sortable="true">Land</th>
			<th data-field="availability_start" data-sortable="true">Verfügar ab</th>
      <th data-field="braucht_bezahlung" data-filter-control="select" data-sortable="true">Bezahlung</th>
      <th data-field="semester" data-filter-control="select" data-sortable="true">Medizinstudium (Semester)</th>

      <th data-field="ba_arzt" data-filter-control="select" data-sortable="true">Arzt/Ärztin</th>
      <th data-field="ba_krankenpflege" data-filter-control="select" data-sortable="true">Krankenpfleger_in</th>
      <th data-field="ba_pflegehilfe" data-filter-control="select" data-sortable="true">Pflegehelfer_in</th>
      <th data-field="ba_anaesthesiepflege" data-filter-control="select" data-sortable="true">Anaesthesiepfleger_in</th>
      <th data-field="ba_intensivpflege" data-filter-control="select" data-sortable="true">Intensivpfleger_in</th>
      <th data-field="ba_ota" data-filter-control="select" data-sortable="true">OTA</th>
      <th data-field="ba_mta" data-filter-control="select" data-sortable="true">MTA</th>
      <th data-field="ba_mfa" data-filter-control="select" data-sortable="true">MFA</th>
      <th data-field="ba_mta_lta" data-filter-control="select" data-sortable="true">MTA LTA</th>
      <th data-field="ba_rta" data-filter-control="select" data-sortable="true">MTA RTA</th>
      <!-- TODO retungssani usw-->
      <th data-field="skill_coronascreening" data-filter-control="select" data-sortable="true">Coronascreening</th>
      <th data-field="skill_pflegeunterstuetzung" data-filter-control="select" data-sortable="true">Pflegeunterstützung</th>

		</tr>
	</thead>
	<tbody>
    {% for stud in filter.qs %}
    <tr>
      <td class="bs-checkbox"><input name="btSelectItem" type="checkbox"></td>
      <td id="{{stud.id}}">{{ stud.plz }}</td>
      <td>{{ stud.countrycode }}</td>
      <td>{{ stud.availability_start }}</td>
      <td>{% if stud.braucht_bezahlung == 1 %}            Freiwillig  {% elif stud.braucht_bezahlung == 2 %}Minijob{% else %}Vollzeit{% endif %}</td>
      <td>{% if stud.semester > 0 %}{{ stud.semester }} {% else %} - {% endif %}</td>
      <td>{% if stud.ba_arzt == 1 %}                      -           {% elif stud.ba_arzt == 2 %}Angefangen{% else %}Abgeschlossen{% endif %}</td>
      <td>{% if stud.ba_krankenpflege == 1 %}             -           {% elif stud.krankenpflege == 2 %}Angefangen{% else %}Abgeschlossen{% endif %}</td>
      <td>{% if stud.ba_pflegehilfe == 1 %}               -           {% elif stud.pflegehilfe == 2 %}Angefangen{% else %}Abgeschlossen{% endif %}</td>
      <td>{% if stud.ba_anaesthesiepflege == 1 %}         -           {% elif stud.anaesthesiepflege == 2 %}Angefangen{% else %}Abgeschlossen{% endif %}</td>
      <td>{% if stud.ba_intensivpflege == 1 %}            -           {% elif stud.intensivpflege == 2 %}Angefangen{% else %}Abgeschlossen{% endif %}</td>
      <td>{% if stud.ba_ota == 1 %}                       -           {% elif stud.ota == 2 %}Angefangen{% else %}Abgeschlossen{% endif %}</td>
      <td>{% if stud.ba_mta == 1 %}                       -           {% elif stud.mta == 2 %}Angefangen{% else %}Abgeschlossen{% endif %}</td>
      <td>{% if stud.ba_mfa == 1 %}                       -           {% elif stud.mfa == 2 %}Angefangen{% else %}Abgeschlossen{% endif %}</td>
      <td>{% if stud.ba_mta_lta == 1 %}                   -           {% elif stud.mta_lta == 2 %}Angefangen{% else %}Abgeschlossen{% endif %}</td>
      <td>{% if stud.ba_rta == 1 %}                       -           {% elif stud.rta == 2 %}Angefangen{% else %}Abgeschlossen{% endif %}</td>

      <td>{% if stud.skill_coronascreening == 1 %}        Nie         {% elif stud.skill_coronascreening == 2 %}Selten{% else %}Erfahren{% endif %}</td>
      <td>{% if stud.skill_pflegeunterstuetzung == 1 %}   Nie         {% elif stud.skill_pflegeunterstuetzung == 2 %}Selten{% else %}Erfahren{% endif %}</td>
    </tr>
    {% endfor %}

	</tbody>
</table>
<div>
<p><button class="btn blue text-white btn-lg" onclick="send()">Email an ausgewählte Studierende schicken &raquo;</button></p>
</div>
</div>
<script type="text/javascript">
  var $table = $('#table');
      $(function () {
          $('#toolbar').find('select').change(function () {
              $table.bootstrapTable('refreshOptions', {
                  exportDataType: $(this).val()
              });
          });
      })

		var trBoldBlue = $("table");

	$(trBoldBlue).on("click", "tr", function (){
			$(this).toggleClass("bold-blue");
	});

  var send = function(){
    var li = [];
    $('tr.selected').each(function(){
       li.push($(this).children()[1].getAttribute("id"));
    });
    if (li.length>0){
      window.location = ("/iamstudent/send_mail_student/"+ li.join("_"));
    } else {
      alert("Bitte wählen wie mindestens einen Studierenden zum Kontaktieren aus!")
    }
  };

  var getrequest = function(){
    //console.log($('#plz').attr("value"));
    window.location = "/ineedstudent/students/" + $('#countrycode').val() + "/" + $('#plz').val() + "/" + Math.max(0, $('#umkreis').val());
  }
</script>
{% endblock %}
