#mapid {
  min-height: 500px;
}
@media only screen and (max-width: 767px) {
  .map-dropdown, .map-input {
    margin-bottom: 5px;
  }
}
.map-dropdown {
  height: 2.35rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.map-input {
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-
}
head {
  Background-color: #7dd1c5;
  font-family: 'Open Sans', sans-serif;
}
.mt-2 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}
h2 {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}
/*form {
	font-family:'Open Sans', sans-serif;
  margin: 2%;
	text-align:left;
	border-left: 10px solid #36a0d9;
	border-radius: 5px;
	background-color:#7eaac2;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:10px;
	padding-left:10px;
}


label[for=id_gender]::before {
	content: "\A \A Allgemeines \A";

    white-space: pre;
}

label[for=id_gender] {
	margin-right:2px;

    white-space: pre;
}

label[for=id_famulaturreife]::before {
	content: "\A \A Skills  \A ";
    white-space: pre;
}

label[for=id_availability_start]::before {
	content: "\A \A Verfügbarkeit  \A";
    white-space: pre;
}

label[for=id_phone_number]::before {
	content: "\A ";
    white-space: pre;
}

label[for=id_braucht_bezahlung]::before {
	content: "\A \A Bezahlung  \A";
    white-space: pre;
    text-align:center;
}*/
body {
  background-color: #cfdce3;
}

path.leaflet-interactive  {
	
	stroke: #ed0a71;
	fill: #ed0a71;
	stroke-width:5px;
}

.leaflet-container a { color: #ed0a71 }
.leaflet-container a:hover { color: #8c0442;;  }

.leaflet-popup-content-wrapper { border-radius: .5rem;}

.leaflet-container {
	font: 14px/1.5 "proxima-nova", Arial, Helvetica, sans-serif; font-weight: 300;}

.leaflet-container a.leaflet-popup-close-button {
	width: 30px;
	padding: 0;
font: 30px/30px proxima-nova, Verdana, sans-serif;}